{% extends 'matricula_base.html'%}
{%load i18n %}

{%block content%}

<h1> {% trans 'Bills for pay' %}  </h1>
<ul class="list-group">
	{% for bill in not_paid%}
	<li class="list-group-item">

		<div class="row">
			<div class="col-md-8">
				{{bill.obj.description |linebreaks}}
			</div>
			<div class="col-md-4">
				{{bill.form.render}}
			</div>
		</div>

	</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		{% trans "You don't have bills to pay" %}
	</div>
	{%endfor%}
</ul>

<h1> {% trans 'Bills paid' %} </h1>
<ul class="list-group">
	{% for bill in paid%}
	<li class="list-group-item">
		{{bill.description}}
	</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		{% trans "You don't have paid bills " %}
	</div>
	{%endfor%}
</ul>

{%endblock%}