{% extends 'gentelella/base.html'%}
{%load i18n static %}
{% block extra_css %} 
	<link href="{% static 'css/matricula.css' %}" rel="stylesheet">
{% endblock %}
{%block content%}
	<div class="row">
		<h1> {% trans 'List of available courses' %} </h1>
		<div class="x_panel">
			<div class="x_content">
				{% for pk, course in courses.items %}
					<div class="col-md-6 col-sm-12 profile_details">
						<div class="well profile_view" style="display:block;">
							<div class="col-sm-12">
								<h3 class="brief"><i>{{course.course.name}}</i></h3>
								<div class="left col-md-7 col-sm-7">
									<h2><b>Descripción</b></h2>
									<span class="inline-first">{{course.course.content|truncatechars:100|safe}}</span>
								</div>
								<div class="right col-md-5 col-sm-5 text-center">
									<div class="col-md-12">
										{% include 'groups.html' %}
									</div>
								</div>
							</div>
							<div class="profile-bottom text-center">
								<div class=" col-sm-6 emphasis">
								</div>
								<div class=" col-sm-6 emphasis" style="text-align:right;">
									<a class="btn btn-primary btn-sm" href="{% url 'course' course.course.pk%}">
										<i class="fa fa-eye"> </i> Leer Más...
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				{%endfor%}
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{%endblock%}