{% extends 'matricula_base.html'%}
{%load i18n %}
{%block content%}
<h1 class="text-center"> {% trans 'List of available courses' %} </h1>

<div id="group_message"> </div>
<ul class="list-group">
{% for pk, course in courses.items %}

  <li class="list-group-item">
  	<div class="row">
  		<div class="col-md-8">
  		<a href="{% url 'course' course.course.pk%}" >
  		<h3 class="list-group-item-heading text-center">{{course.course.name}}</h3></a>
  		<br>
    	<p class="list-group-item-text text-justify">{{course.course.content|truncatewords_html:60|safe}}</p>
    	<a class= "btn btn-success" href="{% url 'course' course.course.pk%}" > {% trans 'Read more' %} </a>
  		</div>
  
  		<div class="col-md-4">
				{% include 'groups.html' %}
  		</div>

    </div>
  </li>

{%endfor%}
</ul>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{%endblock%}
