{% extends 'matricula_base.html'%}
{%load i18n %}
{%block content%}



<h1>{% trans 'List of courses to enroll' %} </h1>
<ul class="list-group">


	{% for enroll in list_enroll%}
        <li class="list-group-item">
			<span class="badge">
				<a class="btn-sm btn-default" href="{% url 'finish_enroll' enroll.pk %}">
				{% trans 'Enrollme' %}
				</a></span>
			{{enroll.group }} {{enroll.group.schedule}}
		</li>

	{%empty%}

	<div class="alert alert-info" role="alert">
		{% trans "You don't have any courses to enroll"%} </div>

	{%endfor%}


</ul>



<h1>{% trans "Enrolled courses"%} </h1>
<ul class="list-group">
	{% for enroll in finished_enroll%}
		<li class="list-group-item">
			{{enroll.group }} {{enroll.group.schedule}}
		</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		{% trans "You don't have any enrolled courses"%} </div>
	{%endfor%}
</ul>
{%endblock%}

