
<h4 class="text-center"> Grupos </h4>
<ul class="list-group">
	{% for group in course.group_set.all%}

		<li class="list-group-item">{{group.name}} 
		{%if add_schedule%} <span style="margin-left: 40px">{{group.schedule}} </span>{%endif%}
		

		<span class="badge">
		{% if request.user.is_authenticated and group.in_enrollment%}
			<a data-href="{% url 'enrollme' group.pk%}"  data-ajax="true" class="btn-sm btn-default">Prematricularme</a>
		{%endif%}
		<span id="count_{{group.pk}}">{{group.enroll_set.count}} </span>
		</span>
		</li>
	{%endfor%}
</ul>