{% extends 'matricula_base.html'%}


{%block content%}

<div class="well text-center">
	<h2> Recuperación de contraseñas</h2>
	
	<h3> Estimado: {{user.username}}</h3>
	{%if change == 'form'%}
	<form class="form-inline" method="post" action="{% url 'recover_password'%}" >
	        <div class="form-group">
	        	{% csrf_token %}
	          <input type="hidden" name="id" value="{{user.pk}}">  
	          <input type="hidden" name="key" value="{{user.confirmation_key}}">
	          <input type="password" class="form-control" name='password' placeholder="New Password">
	          <button type="submit" class="btn btn-default">Cambiar contraseña</button>
	        </div>
	</form>
	
	{% if form_message  %}
		<div class="alert alert-{{form_message}}" role="alert">{{message}}</div>	
	{%endif%}
	
	Escriba por favor su nueva contraseña
	{% elif change == 'error' %}
	
	<div class="alert alert-danger" role="alert"> {{message}}</div>
	
	{%endif%}
</div>
{%endblock%}