{% block top_navigation %}
	{% load  gentelellamenu utils %}
	<div class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% if request.user.student %}
				{% top_menu  %}
			{% endif %}
            {% if not request.user.is_authenticated %}
			    <li><a href="{% reverse_login %}">Iniciar sesión</a><li>
				<li><a href="{% url "create_user_academy" %}">Registrarme</a><li>
            {% else %}
                <li><a href="{% url "logout" %}">Cerrar sesión</a><li>
            {% endif %}
		</ul>
	</div>
{% endblock top_navigation %}