django>=3.1
async_notifications==0.1.26
django-ajax-selects==2.1.0
celery==4.4.7
django-celery-beat==2.0.0
django-celery-results==1.2.1
xhtml2pdf
fake
python-dateutil
django-markitup==4.0.0
django-filter==2.4.0
markdown==3.2.2
psycopg2-binary
djgentelella==0.2.7
djangorestframework==3.11.0
django-ckeditor==6.0.0
django-paypal==1.0.0
django-simple-math-captcha==1.0.7
djangoajax==3.2
gunicorn==19.6.0
Pillow==3.3.0
PyPDF2==1.26.0
python-openid==2.2.5
python3-openid==3.0.10
pytz==2016.6.1
reportlab==3.3.0
requests==2.11.0
requests-oauthlib==0.6.2
webencodings==0.5.1
django-excel==0.0.10
pyexcel-xls==0.6.2
pyexcel-xlsx==0.6.0
