django>=3.1
pyTelegramBotAPI
async_notifications==0.1.22
django-ajax-selects==1.9.1
celery==4.4.7
django-celery-beat==2.0.0
django-celery-results==1.2.1
xhtml2pdf
fake
python-dateutil
django-markitup==4.0.0
markdown==3.2.2
psycopg2-binary
djgentelella==0.1.1
djangorestframework==3.11.0
