{% load static %}

<html>
    <head>
        <title>Expirada</title>
    </head>
    <body>
        <h3>¡Factura Pendiente!</h3>
        <p>Estimado (a), {{ membership.organization.name }}!</p>
        <br/>
        <p>Su membresía ha sido desactivada!</p>
        <br/>
        <p>Se le informa que el tiempo regular de pago de su factura ha expirado, al igual que el
            tiempo de gracia que se le otorga a nuestros clientes como voto de confianza. Nos hemos
            visto obligados a suspenderle nuestros servicios hasta que su pago sea efectuado.</p>
        <p>Por favor asegurese cancelar su factura y reactivar su membresia.</p>
        <p>Más información:</p>
        <p>Tel: +506 8569 1676            Correo:ayuda@codigosur.org</p>
        <br/>
        <br/>
        <p>Estamos para servirte</p>
        <p>Codigo Sur</p>

    </body>
</html>