{% extends 'gentelella/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class='col-md-8 col-xs-12'>

      <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Edición</a></li>
            <li role="presentation"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
            <li role="presentation"><a href="#remitentes" aria-controls="remitentes" role="tab" data-toggle="tab">Remitentes</a></li>
     </ul>
<form action="" method="post" id="formcreatenewsletter">
            <div class="x_panel">
                <div class="x_title">
                    <h1 class="text-center">Nuevo boletín</h1>
                </div>
                <div class="x_content">

                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                                                    {% csrf_token %}
                            {{form.as_horizontal}}


                        <div class="form-group" style="text-align:center; margin-top:40px;">
                                <button class="btn btn-success"
                                        type="button" id="createnewsletter">Insertar</button>
                            </div>
                    </div>
                      <div role="tabpanel" class="tab-pane" id="preview">

                      </div>
                    <div role="tabpanel" class="tab-pane" id="remitentes">
                        {{ emailForm.as_horizontal }}
                    </div>
                  </div>

                </div>
            </div>
</form>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 class="text-center">Filtros</h1>
                </div>
                <div class="x_content">

                        <h4 class="text-center">Filtrar remitentes</h4>
                        <div class="form-group" style="text-align:center;">
                            <form id="formfilters" action="" method="post">
                                {% csrf_token %}
                                {{ form_filter.as_inline }}

                            </form>
                        </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}

{% block js %}

<script>
(function(){
    $("#id_message").css({'width': 407 });
    $("#createnewsletter").on('click', function(){
        $("#formcreatenewsletter").submit()
    });
    var url = "{% url 'updatenewscontext' '0' %}";
    $("#id_templatecontext").attr('name', 'templatecontext');
    $("#id_templatecontext").attr('data-url', url);

})(jQuery);
</script>
{% endblock %}