{% extends 'gentelella/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class='col-md-8 col-xs-12'>

      <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Edición</a></li>
            <li role="presentation"><a id="tabpreview" href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
            <li role="presentation"><a id="tabremitentes" href="#remitentes" aria-controls="remitentes" role="tab" data-toggle="tab">Remitentes</a></li>
     </ul>
<form action="" method="post" id="formcreatenewsletter">
            <div class="x_panel">
                <div class="x_title">
                    <h1 class="text-center">Editar boletín</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                            {% csrf_token %}

                            {% include 'field.html' with field=form.subject  %}
                            {% include 'field.html' with field=form.message  %}
                            {% include 'field.html' with field=form.file  %}
                            {{ form.filters }}

                        <div class="form-group" style="text-align:center; margin-top:40px;">
                                <button class="btn btn-success"
                                        type="button" id="createnewsletter">Guardar</button>
                            </div>
                    </div>
                      <div role="tabpanel" class="tab-pane" id="preview">
                        <iframe style="width: 100%; height: 600px; border: 0px solid #fff" ></iframe>
                      </div>
                    <div role="tabpanel" class="tab-pane" id="remitentes">
                        {% include 'field.html' with field=form.recipient  %}
                        <button type="button" id="loadremitentes" class="btn btn-success"> Cargar correos </button>
                        <button type="button" id="clearremitentes" class="btn btn-success"> Eliminar remitentes </button>
                    </div>
                  </div>

                </div>
            </div>
</form>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 class="text-center">Filtros</h1>
                </div>
                <div class="x_content">

                        <h4 class="text-center">Filtrar remitentes</h4>
                        <div class="form-group" style="text-align:center;">
                            <form class="datafilter" id="formfilters" action="" method="post">

                                {{ form_filter.as_inline }}

                            </form>
                        </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock content %}

{% block js %}
{{form.media}}
<script>

function deshabilitar_filtros(){

    if($("#id_apply_filters")[0].checked){
        $('#id_state').removeAttr('disabled');
        $('#id_country').removeAttr('disabled');
        $('#id_currency').removeAttr('disabled');
        $('#id_payment_method').removeAttr('disabled');
        $('#id_apply_fees').removeAttr('disabled');
        $('#id_invoices').removeAttr('disabled');
        $('#id_search_in').removeAttr('disabled');
        $('#id_service_type').removeAttr('disabled');
        $('#id_membership_type').removeAttr('disabled');
    }else{
        $('#id_state').attr('disabled', 'disabled');
        $('#id_country').attr('disabled', 'disabled');
        $('#id_currency').attr('disabled', 'disabled');
        $('#id_payment_method').attr('disabled', 'disabled');
        $('#id_apply_fees').attr('disabled', 'disabled');
        $('#id_invoices').attr('disabled', 'disabled');
        $('#id_search_in').attr('disabled', 'disabled');
        $('#id_service_type').attr('disabled', 'disabled');
        $('#id_membership_type').attr('disabled', 'disabled');
    }
}


(function(){
    manageNewsletter("{% url 'preview_newsletter_emails' template %}",
    "{% url 'markitup_preview' %}");

    $('input[name="apply_filters"]').on('change', function(event){
      deshabilitar_filtros();
    });

    deshabilitar_filtros();

})(jQuery);
</script>

<script>
            new FroalaEditor('#id_message',{"inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": {"csrfmiddlewaretoken": getCookie("csrftoken")}, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": {"csrfmiddlewaretoken": getCookie("csrftoken")}})
</script>
{% endblock %}