{% extends 'gentelella/base.html' %}
{% load news_letter_emails %}
{% load static %}
{% load gtsettings %}
{% block pre_head %}
    {% define_true "use_datatables" as use_datatables %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class='col-md-8 col-md-offset-2 col-xs-12'>
            <div class="x_panel">
                <div class="x_title">
                    <h1 class="text-center">Boletines</h1>
                    <h4 class="text-center">Seleccione una plantilla de boletín</h4>
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_horizontal}}

                    <div class="form-group" style="text-align:center; margin-top:40px;">
                        <button class="btn btn-success text-center"
                                type="submit">Nuevo boletín</button>
                        <a class="btn btn-primary text-center"
                           href="{% url 'create_news_letter_template' %}" type="button">Nueva plantilla</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-12 col-xs-12'>
            <h1 class="text-center"> Listado de boletines</h1>
            <div class="x_panel">
                <div class="x_content" style="display: block;">
                    <div class="dashboard-widget-content">
                        <table id="listadoboletines" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Asunto</th>
                                    <th>Plantilla</th>
                                    <th>Fecha de envío</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for boletin in lista_boletines %}
                            <tr>
                                <td>{{ boletin.subject }} </td>
                                <td>{{ boletin.template }}</td>
                                <td>
                                {% for task in boletin.newslettertask_set.all %}
                                    <div class="row text-center">
                                        {{ task.send_date }} <a title="Eliminar fecha de envío" class="btn btn-sm" data-url="{% url 'delete_task' pk=task.pk %}" onclick="deleteelement(this)"><i class="fa fa-close" style="color:red"></i></a>

                                    </div>
                                   {% endfor %}
                                </td>
                                <td>
                                    <a title="Editar boletín" class="btn btn-sm" href="{% url 'edit_news_letter' pk=boletin.pk %}"><i class="fa fa-edit fa-2x"></i> </a>
                                    <a title="Eliminar boletín" class="btn btn-sm" data-url="{% url 'delete_news_letter' pk=boletin.pk %}" onclick="deleteelement(this)"><i class="fa fa-trash fa-2x"></i></a>
                                    <a title="Enviar ahora" class="btn btn-sm" data-url="{% url 'send_news_letter' pk=boletin.pk %}" onclick="sendnewsletter(this)"><i class="fa fa-send fa-2x"></i></a>
                                    <a title="Agregar fecha de envío" class="btn btn-sm" data-url="{% url 'create_task' pk=boletin.pk %}" onclick="show_task(this)"
                                    id="btnshowtask"><i class="fa fa-clock-o fa-2x"></i></a>
                                    {% update_emails boletin as update_news_letter %}

                                    {% if update_news_letter %}
                                    <a title="Actualizar remitentes" class="btn btn-sm" href="{% url 'update_emails_news_letter' pk=boletin.pk %}"><i class="fa fa-refresh fa-2x"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="showsenddate" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Programe una fecha de envío</h4>
      </div>
        <form id="senddateform" method="post">
          <div class="modal-body">
            {% csrf_token %}
              {{send_date_form.as_horizontal}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-success" type="submit">Guardar</button>

          </div>
        </form>
    </div>
  </div>
    </div>

    <div id="modaldeletetask" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">¿Está segura que desea eliminar este elemento?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" id="deletetask">Eliminar</a>
            </div>
        </div>
    </div>
    </div>

    <div id="modalsendnewsletter" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Este boletín se enviará a varios remitentes, esta es una acción irreversible que puede notificar a muchas personas ¿Está segura de realizar esta acción?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-success" id="sendnewsletter">Enviar</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block js %}
<script>

function show_task(element){
    url = $(element).data('url');
    $("#senddateform").attr("action", url);
    $("#showsenddate").modal();
}

function deleteelement(element){
    $("#deletetask").attr("href", $(element).data('url'));
    $("#modaldeletetask").modal();
}

function sendnewsletter(element){
    $("#sendnewsletter").attr("href", $(element).data('url'));
    $("#modalsendnewsletter").modal();
}

(function(){
    $("#listadoboletines").DataTable();
    $("#id_message").css({'width': 407 });
    $("#btndeletetask").on('click', function(){
    });

})(jQuery);
</script>
{% endblock %}