{% extends 'gentelella/base.html'%}
{% load static utils %}
{%block content %}
	<h1>Páginas</h1>
	<div class="row">
		{% if perms.matricula.add_enroll %}
			<div class="col-sm-12 col-xs-12 col-lg-10 col-md-9">
		{% else %}
			<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
		{% endif %}
			<div class="x_panel">
				<div class="x_content">
					<form method="GET">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							{% include 'field.html' with field=form_search.slug %}
						</div>
						<div style="text-align:right">
							<a href="{% url 'pages' %}" class="btn btn-dark">Limpiar</a>
							<button class="btn btn-success" type="submit">Buscar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 col-lg-2 col-md-3">
			{% if perms.matricula.add_enroll %}
				<a class="btn btn-primary" href="{% url 'create_page' %}">Crear página</a>
			{% endif %}
		</div>
	</div>
	{% if perms.matricula.delete_page %}
		<!-- modal delete category -->
		<div id="modaldeleteitem" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">¿Está segura que desea eliminar la página?</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger" id="deleteitem">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end delete modal-->
	{% endif %}
	{% for object in object_list %}
		<div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2 class="green">{{object.slug|wordwrap:100}}</h2>
					<ul class="nav navbar-right panel_toolbox" style="min-width:none;">
						{% if perms.matricula.change_enroll %}
							<li>
								<a href="{% url 'edit_page' object.pk %}" class="edit-link"><i class="fa fa-edit"></i></a>
							</li>
						{% endif %}
						{% if perms.matricula.delete_page %}
							<li><a data-url="{% url 'delete_page' pk=object.pk %}" onclick="deleteitem(this)"><i class="fa fa-close"></i></a></li>
						{% endif %}
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							{% for obj in object.multilingualcontent_set.all %}
								<ul class="list-unstyled user_data">
									<li><strong>Idioma: </strong>{{obj.language}}</li>
									<li><strong>Título: </strong>{{obj.title}}</li>
								</ul>
							{% empty %}
								<ul class="list-unstyled user_data">
									<li><strong>Sin traducciones:</strong></li>
								</ul>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="clearfix"></div>
{%endblock%}
{% if perms.matricula.delete_enroll %}
	{% block js %}
		<script type="text/javascript">
			function deleteitem(element){
				$(function(){
					$("#deleteitem").attr("href", $(element).data('url'));
					$("#modaldeleteitem").modal();
				});
				return false
			}
		</script>
	{% endblock js%}
{% endif %}