{% extends 'gentelella/base.html'%}
{% load static membership_code %}
{%block content%}
	<h1 class="text-center">Períodos</h1>
	<div class="row">

			<div class="{% if perms.matricula.add_period %}col-md-6 col-sm-12 col-lg-8{% else %}col-md-8 col-md-offset-2 col-xs-12{% endif %}">

			<div class="x_panel">
				<div class="x_content">
					<form method="GET">
						<div>
							{% include 'field.html' with field=form_search.name %}
						</div>
						<div class="text-right">
							<a style="margin-top:10px;" href="{% url 'periods' %}" class="btn btn-dark">Limpiar</a>
							<button style="margin-top:10px;" class="btn btn-success" type="submit">Buscar</button>
						</div>
					</form>
				</div>
			</div>

				{% if not perms.matricula.add_period %}
					</div>
					</div>
				{% endif %}

			<div class="row">
				{% for object in page_obj %}
					<div class="{% if perms.matricula.add_period %}col-md-6 col-lg-6 col-sm-12{% else %}col-md-6 col-lg-4 col-sm-12{% endif %}">
						<div class="x_panel">
						<div class="x_title">
							<h2 class="green">{{object.name}}</h2>
							<ul class="nav navbar-right panel_toolbox" style="min-width: unset;">
								{% if perms.matricula.change_period %}
									<li>
										<a title="Editar período" href="{% url 'edit_period' object.pk %}" class="edit-link"><i class="fa fa-edit"></i></a>
									</li>
								{% endif %}
								{% if perms.matricula.delete_period %}
									<li><a title="Eliminar período" data-url="{% url 'delete_period' pk=object.pk %}" onclick="deleteitem(this)"><i class="fa fa-close"></i></a></li>
								{% endif %}
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<b>Inicio:</b> {{object.start_date}}<br>
							<b>Fin:</b> {{object.finish_date}}
						</div>
					</div>
					</div>
				{% endfor %}
			</div>
			<div class="clearfix"></div>
			<div class="paginator_container text-center">
				{% if is_paginated %}
					<ul class="pagination">
						{% if paginator.has_previous %}
							<li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
						{% else %}
							<li class="disabled"><span>&laquo;</span></li>
						{% endif %}
						{% for i in paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							{% else %}
								<li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if paginator.has_next %}
							<li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
						{% else %}
							<li class="disabled"><span>&raquo;</span></li>
						{% endif %}
					</ul>
				{% endif %}
			</div>

		{% if perms.matricula.add_period %}
			</div>
		{% endif %}
		{% if perms.matricula.add_period %}
			<div class="col-md-6 col-sm-12 col-lg-4">
				<div class="x_panel">
					<form method="POST" action="{% url 'create_period' %}">
						{% csrf_token %}
						<div class="x_title">
							<h2 class="green">Nuevo período</h2>
							<ul class="nav navbar-right panel_toolbox">
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							{{form}}
						</div>
						<div class="text-right">
							<a class="btn btn-dark" href="{% url 'periods' %}">Limpiar</a>
							<input class="btn btn-primary" value="Guardar" type="submit"/>
						</div>
					</form>
				</div>
			</div>
		{% endif %}
		{% if perms.matricula.add_period %}
			</div>
		{% endif %}

{% if perms.matricula.delete_period %}
	<!-- modal delete period -->
	<div id="modaldeleteitem" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">¿Está segura que desea eliminar el período?</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Limpiar</button>
					<a class="btn btn-danger" id="deleteitem">Eliminar</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end delete modal-->
{% endif %}
{%endblock%}
{% if perms.matricula.delete_period %}
	{% block js %}
		<script type="text/javascript">
			function deleteitem(element){
				$(function(){
					$("#deleteitem").attr("href", $(element).data('url'));
					$("#modaldeleteitem").modal();
				});
				return false
			}
		</script>
	{% endblock js%}
{% endif %}