{% extends 'matricula_base.html'%}

{%block content%}
{%load i18n %}
<style>
	td{
		padding-right: 20px;
	}
	
</style>

<h1> {% trans 'Unpaid bills' %}</h1>
<ul class="list-group">
	{% for bill in not_paid%}
	<li class="list-group-item">

		<div class="row">
			<div class="col-md-8">
				
				{{bill.obj.description|safe}}

			</div>
			<div class="col-md-4">
				{{bill.form.render}}
			</div>
		</div>

	</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		
		{% trans "You don't have Unpaid bills" %}
	</div>
	{%endfor%}
</ul>

<h1> {% trans "Paid bills" %} </h1>
<ul class="list-group">
	{% for bill in paid%}
	<li class="list-group-item">
		{{bill.description|safe}}
	</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		{% trans "You don't have paid bills" %}
	</div>
	{%endfor%}
</ul>

{%endblock%}