{% extends 'matricula_base.html'%}

{%block content%}
{%load i18n %}

<h1> {% trans 'Unpaid bills' %}</h1>
<ul class="list-group">
	{% for bill in not_paid%}
	<li class="list-group-item">

		<div class="row">
			<div class="col-md-8">
				{{bill.obj.description |linebreaks}}
			</div>
			<div class="col-md-2">
				{{bill.form.render}}
			</div>
			<div class="col-md-2">
			<a href="{% url 'stripe_charge' bill.obj.pk %}" class="btn btn-primary"> {% trans "Credict Card Payment" %}</a>
			</div>
		</div>

	</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		
		{% trans "You don't have Unpaid bills" %}
	</div>
	{%endfor%}
</ul>

<h1> {% trans "Paid bills" %} </h1>
<ul class="list-group">
	{% for bill in paid%}
	<li class="list-group-item">
		{{bill.description}}
	</li>

	{%empty%}
	<div class="alert alert-info" role="alert">
		{% trans "You don't have paid bills" %}
	</div>
	{%endfor%}
</ul>

{%endblock%}