{% extends 'gentelella/base.html'%}
{% block extra_css %}
	<style>
		td{
			padding-right:20px;
		}
	</style>
{% endblock %}
{%block content%}
	{% load i18n %}
	<h1> {% trans 'Unpaid bills' %}</h1>
	<div class="x_panel">
		{% for bill in not_paid%}
			<div class="product_price">
				<h1 class="price green">{{bill.obj.short_drescription}}</h1>
				<div class="col-md-6 col-lg-6 col-sm-12">
					<div class="price-tax">
						{{bill.obj.description|safe}}
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div style="margin-top:50px;" class="price-tax text-center">
						{{bill.form.render}}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		{%empty%}
			<div class="alert alert-info" role="alert">
				{% trans "You don't have Unpaid bills" %}
			</div>
		{%endfor%}
		<div class="clearfix"></div>
	</div>

	<h1> Facturas pagadas </h1>
	<div class="x_panel">
		{% for bill in paid %}
			<div class="product_price">
				<div class="price-tax">
					{{bill.description|safe}}
				</div>
			</div>
		{%empty%}
			<div class="alert alert-info" role="alert">
				No tiene facturas pagadas
			</div>
		{%endfor%}
	</div>
{%endblock%}