{%load i18n %}
<p class="help"> {% trans 'Use Ctrl when mouse enter inside an hour to select or unselect this hour '%}
<table class="hour_table" name="{{name}}" id="{{name}}">
<tbody>
<tr> <th>Day</th><th class="six"><span class="" id="S"> S</span></th><th class="six"><span class="" id="M"> M</span></th><th class="six"><span class="" id="T"> T</span></th><th class="six"><span class="" id="W"> W</span></th><th class="six"><span class="" id="T"> T</span></th><th class="six"><span class="" id="F"> F</span></th><th class="six"><span class="" id="S"> S</span></th>
</tr>
<tr>
	<th>06:00 AM</th><td class="hour  "><span class="" id="6"> </span></td><td class="hour  "><span class="" id="30"> </span></td><td class="hour  "><span class="" id="54"> </span></td><td class="hour  "><span class="" id="78"> </span></td><td class="hour  "><span class="" id="102"> </span></td><td class="hour  "><span class="" id="126"> </span></td><td class="hour  "><span class="" id="150"> </span></td>
</tr>
<tr>
	<th>07:00 AM</th><td class="hour  "><span class="" id="7"> </span></td><td class="hour  "><span class="" id="31"> </span></td><td class="hour  "><span class="" id="55"> </span></td><td class="hour  "><span class="" id="79"> </span></td><td class="hour  "><span class="" id="103"> </span></td><td class="hour  "><span class="" id="127"> </span></td><td class="hour  "><span class="" id="151"> </span></td>
</tr>
<tr>
	<th>08:00 AM</th><td class="hour  "><span class="" id="8"> </span></td><td class="hour  "><span class="" id="32"> </span></td><td class="hour  "><span class="" id="56"> </span></td><td class="hour  "><span class="" id="80"> </span></td><td class="hour  "><span class="" id="104"> </span></td><td class="hour  "><span class="" id="128"> </span></td><td class="hour  "><span class="" id="152"> </span></td>
</tr>
<tr>
	<th>09:00 AM</th><td class="hour  "><span class="" id="9"> </span></td><td class="hour  "><span class="" id="33"> </span></td><td class="hour  "><span class="" id="57"> </span></td><td class="hour  "><span class="" id="81"> </span></td><td class="hour  "><span class="" id="105"> </span></td><td class="hour  "><span class="" id="129"> </span></td><td class="hour  "><span class="" id="153"> </span></td>
</tr>
<tr>
	<th>10:00 AM</th><td class="hour  "><span class="" id="10"> </span></td><td class="hour "><span class="" id="34"> </span></td><td class="hour  "><span class="" id="58"> </span></td><td class="hour  "><span class="" id="82"> </span></td><td class="hour  "><span class="" id="106"> </span></td><td class="hour  "><span class="" id="130"> </span></td><td class="hour  "><span class="" id="154"> </span></td>
</tr>
<tr>
	<th>11:00 AM</th><td class="hour six "><span class="" id="11"> </span></td><td class="hour six "><span class="" id="35"> </span></td><td class="hour six "><span class="" id="59"> </span></td><td class="hour six "><span class="" id="83"> </span></td><td class="hour six "><span class="" id="107"> </span></td><td class="hour six "><span class="" id="131"> </span></td><td class="hour six "><span class="" id="155"> </span></td>
</tr>
<tr>
	<th>12:00 MD</th><td class="hour "><span class="" id="12"> </span></td><td class="hour "><span class="" id="36"> </span></td><td class="hour "><span class="" id="60"> </span></td><td class="hour "><span class="" id="84"> </span></td><td class="hour "><span class="" id="108"> </span></td><td class="hour "><span class="" id="132"> </span></td><td class="hour "><span class="" id="156"> </span></td>
</tr>
<tr>
	<th>01:00 PM</th><td class="hour "><span class="" id="13"> </span></td><td class="hour "><span class="" id="37"> </span></td><td class="hour "><span class="" id="61"> </span></td><td class="hour "><span class="" id="85"> </span></td><td class="hour "><span class="" id="109"> </span></td><td class="hour "><span class="" id="133"> </span></td><td class="hour "><span class="" id="157"> </span></td>
</tr>
<tr>
	<th>02:00 PM</th><td class="hour "><span class="" id="14"> </span></td><td class="hour "><span class="" id="38"> </span></td><td class="hour "><span class="" id="62"> </span></td><td class="hour "><span class="" id="86"> </span></td><td class="hour "><span class="" id="110"> </span></td><td class="hour "><span class="" id="134"> </span></td><td class="hour "><span class="" id="158"> </span></td>
</tr>
<tr>
	<th>03:00 PM</th><td class="hour "><span class="" id="15"> </span></td><td class="hour "><span class="" id="39"> </span></td><td class="hour "><span class="" id="63"> </span></td><td class="hour "><span class="" id="87"> </span></td><td class="hour "><span class="" id="111"> </span></td><td class="hour "><span class="" id="135"> </span></td><td class="hour "><span class="" id="159"> </span></td>
</tr>
<tr>
	<th>04:00 PM</th><td class="hour "><span class="" id="16"> </span></td><td class="hour "><span class="" id="40"> </span></td><td class="hour "><span class="" id="64"> </span></td><td class="hour "><span class="" id="88"> </span></td><td class="hour "><span class="" id="112"> </span></td><td class="hour "><span class="" id="136"> </span></td><td class="hour "><span class="" id="160"> </span></td>
</tr>
<tr>
	<th>05:00 PM</th><td class="hour six"><span class="" id="17"> </span></td><td class="hour six"><span class="" id="41"> </span></td><td class="hour six"><span class="" id="65"> </span></td>
	<td class="hour six"><span class="" id="89"> </span></td><td class="hour six"><span class="" id="113"> </span></td><td class="hour six"><span class="" id="137"> </span></td><td class="hour six"><span class="" id="161"> </span></td>
</tr>
<tr>
	<th>06:00 PM</th><td class="hour "><span class="" id="18"> </span></td><td class="hour "><span class="" id="42"> </span></td><td class="hour "><span class="" id="66"> </span></td><td class="hour "><span class="" id="90"> </span></td><td class="hour "><span class="" id="114"> </span></td><td class="hour "><span class="" id="138"> </span></td><td class="hour "><span class="" id="162"> </span></td>
</tr>
<tr>
	<th>07:00 PM</th><td class="hour "><span class="" id="19"> </span></td><td class="hour "><span class="" id="43"> </span></td><td class="hour "><span class="" id="67"> </span></td><td class="hour "><span class="" id="91"> </span></td><td class="hour "><span class="" id="115"> </span></td><td class="hour "><span class="" id="139"> </span></td><td class="hour "><span class="" id="163"> </span></td>
</tr>
<tr>
	<th>08:00 PM</th><td class="hour "><span class="" id="20"> </span></td><td class="hour "><span class="" id="44"> </span></td><td class="hour "><span class="" id="68"> </span></td><td class="hour "><span class="" id="92"> </span></td><td class="hour "><span class="" id="116"> </span></td><td class="hour "><span class="" id="140"> </span></td><td class="hour "><span class="" id="164"> </span></td>
</tr>
<tr>
	<th>09:00 PM</th><td class="hour "><span class="" id="21"> </span></td><td class="hour "><span class="" id="45"> </span></td><td class="hour "><span class="" id="69"> </span></td><td class="hour "><span class="" id="93"> </span></td><td class="hour "><span class="" id="117"> </span></td><td class="hour "><span class="" id="141"> </span></td><td class="hour "><span class="" id="165"> </span></td>
</tr>
<tr>
	<th>10:00 PM</th><td class="hour "><span class="" id="22"> </span></td><td class="hour "><span class="" id="46"> </span></td><td class="hour "><span class="" id="70"> </span></td><td class="hour "><span class="" id="94"> </span></td><td class="hour "><span class="" id="118"> </span></td><td class="hour "><span class="" id="142"> </span></td><td class="hour "><span class="" id="166"> </span></td>
</tr>
<tr>
	<th>11:00 PM</th><td class="hour six"><span class="" id="23"> </span></td><td class="hour six"><span class="" id="47"> </span></td><td class="hour six"><span class="" id="71"> </span></td><td class="hour six"><span class="" id="95"> </span></td><td class="hour six"><span class="" id="119"> </span></td><td class="hour six"><span class="" id="143"> </span></td><td class="hour six"><span class="" id="167"> </span></td>
</tr>
<tr>
	<th>00:00 AM</th><td class="hour "><span class="" id="0"> </span></td><td class="hour "><span class="" id="24"> </span></td><td class="hour "><span class="" id="48"> </span></td><td class="hour "><span class="" id="72"> </span></td><td class="hour "><span class="" id="96"> </span></td><td class="hour "><span class="" id="120"> </span></td><td class="hour "><span class="" id="144"> </span></td>
</tr>
<tr>
	<th>01:00 AM</th><td class="hour "><span class="" id="1"> </span></td><td class="hour "><span class="" id="25"> </span></td><td class="hour "><span class="" id="49"> </span></td><td class="hour "><span class="" id="73"> </span></td><td class="hour "><span class="" id="97"> </span></td><td class="hour "><span class="" id="121"> </span></td><td class="hour "><span class="" id="145"> </span></td>
</tr>
<tr>
	<th>02:00 AM</th><td class="hour "><span class="" id="2"> </span></td><td class="hour "><span class="" id="26"> </span></td><td class="hour "><span class="" id="50"> </span></td><td class="hour "><span class="" id="74"> </span></td><td class="hour "><span class="" id="98"> </span></td><td class="hour "><span class="" id="122"> </span></td><td class="hour "><span class="" id="146"> </span></td>
</tr>
<tr>
	<th>03:00 AM</th><td class="hour "><span class="" id="3"> </span></td><td class="hour "><span class="" id="27"> </span></td><td class="hour "><span class="" id="51"> </span></td><td class="hour "><span class="" id="75"> </span></td><td class="hour "><span class="" id="99"> </span></td><td class="hour "><span class="" id="123"> </span></td><td class="hour "><span class="" id="147"> </span></td>
</tr>
<tr>
	<th>04:00 AM</th><td class="hour "><span class="" id="4"> </span></td><td class="hour "><span class="" id="28"> </span></td><td class="hour "><span class="" id="52"> </span></td><td class="hour "><span class="" id="76"> </span></td><td class="hour "><span class="" id="100"> </span></td><td class="hour "><span class="" id="124"> </span></td><td class="hour "><span class="" id="148"> </span></td>
</tr>
<tr>
	<th>05:00 AM</th><td class="hour six"><span class="" id="5"> </span></td><td class="hour six"><span class="" id="29"> </span></td><td class="hour six"><span class="" id="53"> </span></td><td class="hour six"><span class="" id="77"> </span></td><td class="hour six"><span class="" id="101"> </span></td><td class="hour six"><span class="" id="125"> </span></td><td class="hour six"><span class="" id="149"> </span></td>
</tr>
</tbody>
</table>