{% extends "gentelella/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
<div>
    <div class="login_wrapper" style="max-width:400px !important">
        <div class="animate form login_form">
            <section class="login_content">
                <h1 class="login_content">{% trans "Sign Up" %}</h1>
                <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
                {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a href="{% url 'login' %}" class="btn btn-dark">Cancelar</a>
                    <button class='btn btn-primary' type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}
