{% extends 'gentelella/base.html' %}

{% load static %}
{% block extra_css %}
    <link href="{% static 'css/membership.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    
    <h1 style="text-align:center;">Nueva Membresía</h1>
    {% if perms.membership_manager.view_membership %}
        <div id="membership_form" class="row">
            <div class="x_panel">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_horizontal}}
                    <div class="row" style="margin-top:50px;">
                        <div class="col-md-12">
                            <div class="form-inline" style="text-align:right;">
                                <button class="btn btn-secondary text-center" type="reset">Cancelar</button>
                                <button class="btn btn-success text-center" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Usted no tiene suficientes permisos para ver Membresías</h1>
    {% endif %}
{% endblock content %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            let isVisible = false;
            
            //Set membership_type from template
            const membership_type = "{{t.name}}";
            $('#id_membership_type').val(membership_type).change();
            
            //Set renewal_period from template
            const renewal_period = "{{t.renewal_period.pk}}";
            $('#id_renewal_period').val(renewal_period).change();
            
            //Set initial fees field to display none
            $("input[type='checkbox']").val('off');
            $('#id_fees').parent().parent().css('display','none');
            

            //Trigger to display fees field when apply_fees change
            $("input[type='checkbox']").change(function() {
                isVisible = !isVisible;
                if(isVisible){
                    $('#id_fees').parent().parent().css('display','block');
                     $("input[type='checkbox']").val('on');
                }else{
                    $('#id_fees').parent().parent().css('display','none');
                    $("input[type='checkbox']").val('off');
                }
                
            });

            //Set annual cost from template
            $("#id_annual_cost").val("{{t.annual_cost}}");
            
            //Set Currency from template
            const currency = "{{t.currency.pk}}"
            $("#id_currency").val(currency).change();

            /**
                Set trigger to display contact, organization or both depending
                on the contact_type value selected 
            **/
            $('input[name="contact_type"]').on('ifChecked', function(){
                const option = $(this).val();
                switch(option){
                    case 'both':
                        $('#id_contact').parent().parent().css('display','block');
                        $('#id_contact').attr('required',true);
                        $('#id_organization').parent().parent().css('display','block');
                        $('#id_organization').attr('required',true);
                        break;
                    case 'organization':
                        $('#id_organization').parent().parent().css('display','block');
                        $('#id_organization').attr('required',true);
                        $('#id_contact').parent().parent().css('display','none');
                        $('#id_contact').val('').change().attr('required',false);
                        break;
                    case 'contact':
                        $('#id_contact').parent().parent().css('display','block');
                        $('#id_contact').attr('required',true);
                        $('#id_organization').parent().parent().css('display','none');
                        $('#id_organization').val('').change().attr('required',false);
                        break;
                }
            });

            //Hide contact when form is loaded
            $('#id_contact').parent().parent().css('display','none');

            //set organizatio as required field initial
            $('#id_organization').attr('required',true);

            //Apply radioflat style from iCheck
            $('input[name="contact_type"]').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        });
    </script>
{% endblock js %}