{% extends 'gentelella/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class='col-md-8 col-md-offset-2 col-xs-12'>

      <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Edición</a></li>
            <li role="presentation"><a id="tabpreview" href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a></li>
     </ul>

    <form action="" method="post">
            <div class="x_panel">
                <div class="x_title">
                    <h1 class="text-center">Notificación de correo electrónico</h1>
                </div>
                <div class="x_content">

                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                            {% csrf_token %}

                            {% include 'field.html' with field=form.subject  %}
                            {% include 'field.html' with field=form.recipient  %}
                            {% include 'field.html' with field=form.message  %}
                            {% include 'field.html' with field=form.file  %}
                            {% include 'field.html' with field=form.bcc  %}
                            {% include 'field.html' with field=form.cc  %}

                        <div class="form-group" style="text-align:center; margin-top:40px;">
                                <button class="btn btn-success"
                                        type="submit">Guardar</button>
                            </div>
                    </div>
                      <div role="tabpanel" class="tab-pane" id="preview">
                        <iframe style="width: 100%; height: 600px; border: 0px solid #fff" ></iframe>
                      </div>
                  </div>

                </div>
            </div>
    </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{{form.media}}
<script>

function showPreview(){

    $.ajax({
      dataType: "html",
      url: "{% url 'markitup_preview' %}",
      type: "POST",
      headers: {'X-CSRFToken': getCookie('csrftoken') },
      data: {'data': $('#id_message').val()},
      success: function(data){
             $("#preview iframe").contents().find("body").html(data);
             }
    });

}

(function(){

    $("#tabpreview").on("shown.bs.tab", function(){
           showPreview();
    });

})(jQuery);
</script>
<script>
            new FroalaEditor('#id_message',{"inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": {"csrfmiddlewaretoken": getCookie("csrftoken")}, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": {"csrfmiddlewaretoken": getCookie("csrftoken")}})
</script>
{% endblock %}