{% extends 'gentelella/base.html' %}

{% load static %}
{% block extra_css %}
    <link href="{% static 'css/membership.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}

    <div id="membership_form" class="row">
        <form method="post">
            <div class="col-md-8">
                <div class="x_panel">

                     <div class="x_title">
                        <h1 style="text-align:center;">Editar membresía</h1>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                    {% csrf_token %}
                    {{form.as_horizontal}}
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row formset">
                    <h1 style="text-align:center;">Servicios</h1>
                    <div class="col-xs-12 col-sm-12 col-md-12 formlist">
                        {% for form in formset %}
                            {% include 'formset_form.html' %}
                        {% endfor %}
                    </div>
                    <div class="hidden formsetcontrol"
                        data-delete="{% if formset.can_delete %}1{% else %}0{% endif %}"
                        data-order="{% if formset.can_order %}1{% else %}0{% endif %}"
                        data-validate-min="{% if formset.validate_min %}1{% else %}0{% endif %}"
                        data-validate-max="{% if formset.validate_max %}1{% else %}0{% endif %}"
                        data-extra="{{formset.extra}}"  data-prefix="{{formset.prefix}}">
                        {{ formset.management_form }}
                        {% spaceless %}
                        <div class="hidden formsettemplate">
                            <!-- {% include 'formset_form.html' with form=formset.empty_form %} -->
                        </div>
                        {% endspaceless %}
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary formsetadd" >Nuevo Servicio</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row" style="margin-top:50px;">
                    <div class="col-md-12">
                        <div class="form-inline" style="text-align:center;">
                            <a class="btn btn-danger text-center" href="{% url 'memberships' %}">Cancelar</a>
                            <button class="btn btn-success text-center" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block js %}
<script type="text/javascript">

        function set_url_orgacontact(){

            var pk_contact = $('#id_contact').val();
            var pk_organization = $('#id_organization').val();
            var radioValue = $('input[name="contact_type"]:checked').val();
            url_orga = {% url 'organizations' %} + '?organization=';
            url_contact = {% url 'contacts' %} + '?contact=';

            if(radioValue == 'organization' ){

                if(pk_organization != ''){
                    $('#show_organization').css('display', 'block');
                    $('#show_contact').css('display', 'none');
                    $('#show_organization').attr('href', url_orga+pk_organization);
                }

            }else{

                if(pk_contact != ''){
                    $('#show_organization').css('display', 'none');
                    $('#show_contact').css('display', 'block');
                    $('#show_contact').attr('href', url_contact+pk_contact);
                }
            }
        }


        $(document).ready(function(){
            
           //Button add organization
            btnNewOrg = "<div class='text-right' style='margin-top:5px'>"+
                "<a target='_blank' id='show_organization' style='display:none; text-align: center;'><strong>Ver información de la organización</strong></a>"+
                "<a title='Nueva organización' href='/organizations/create'" +
                " style='font-size:2em' target='_blank'><i class='fa fa-plus-square'></i></a></div>";
            $('#id_organization').parent().append(btnNewOrg);

            //Button add contact
            bntNewContact = "<div class='text-right' style='margin-top:5px'>"+
                "<a target='_blank' id='show_contact' style='display:none; text-align: center;'><strong>Ver información del contacto</strong></a>"+
                "<a title='Nuevo contacto' href='/contacts/create'" +
                " style='font-size:2em' target='_blank'><i class='fa fa-plus-square'></i></a></div>";
            $('#id_contact').parent().append(bntNewContact);

            //set trigger to update title
            $('.formset').on('blur', 'input[name$="description"]', function() {
                title = $(this).val();
               $(this).parent().parent().parent().parent().find('.x_title h2').html(title);
            });

            //set trigger to collapse the formset content
            $('.formset').on('click', '.btncollapse', function() {
                if($(this).parent().parent().parent().next().is(':visible')){
                    $(this).parent().parent().parent().next().hide();   
                }else{
                    $(this).parent().parent().parent().next().show()
                }
            });
            
            //set trigger to collapse all formset to display the new one.
            $('.formsetadd').click(function(){
                $('.formset .x_content').hide().last().show();
                $('.select2-container').width('100%');
            });

            $('.formset .x_content').last().show();

            set_url_orgacontact();

        });

        $('#id_contact').on('change', function() {
            set_url_orgacontact();
        });

        $('#id_organization').on('change', function() {
            set_url_orgacontact();
        });

    </script>

<script>

    $(window).load(function() {
      $('.select2-container').width('100%');
    });


    function contact_type_change(){
    var radioValue = $('input[name="contact_type"]:checked').val();
    if(radioValue == 'organization' ){
        $("#id_organization").parent().parent().show();
        $("#id_contact").parent().parent().hide();
        $('#show_contact').css('display', 'none');

        if($('#id_organization').val() != ''){
            $('#show_organization').css('display', 'block');
        }
    }else{
        $("#id_organization").parent().parent().hide();
        $("#id_contact").parent().parent().show();
        $('#show_organization').css('display', 'none');

        if($('#id_contact').val() != ''){
            $('#show_contact').css('display', 'block');
        }
    }
}

function apply_fees_change(){
    if($("#id_apply_fees")[0].checked){
        $("#id_fees").parent().parent().show();
    }else{
         $("#id_fees").parent().parent().hide();
    }
}


(function($){
    $('input[name="contact_type"]').on('ifChecked', function(event){
      contact_type_change();
    });
    contact_type_change();

    $('input[name="apply_fees"]').on('change',  apply_fees_change);
    apply_fees_change();

})(jQuery);

</script>
{% endblock js %}