{% extends 'gentelella/base.html' %}

{% load static %}
{% block content %}
<h1 style="text-align:center;">{{title}}</h1>
<div class="row">

            <div class="col-md-8">
                <div class="x_panel">
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_horizontal}}
                    <button type="submit" class="btn btn-success" >Guardar</button>
                    </form>
                </div>
            </div>
    <div class="col-md-4">
        <div class="x_panel">
            <h2 class="text-center purple">{{form.instance.code}}</h2>
            {{form.instance.membership}}
            <br><br>
            Periodo:
            {{form.instance.renewal_period}}
            <br> <br>
{% if form.instance.pdf_invoice %}
      Factura: <a title="Factura por servicio" href="{{ form.instance.pdf_invoice.url }}?f={% now 'YmdHs' %}" target="_blank" class="btn btn-sm btn-success">
       <i class="fa s-2 fa-file-pdf-o"></i>
      </a>
      {% endif %}
        </div>
    </div>
</div>
{% endblock %}