{% extends 'gentelella/base.html' %}

{% load static %}
{% block extra_css %}
    <link href="{% static 'css/membership.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <h1 class="text-center">Membresías</h1>
    {% if perms.membership_manager.view_membership %}
        <div class="search_options">
            <div class="row">
                <div class="col-md-9">
                    <div class="x_panel">
                        <form action="{% url 'memberships' %}" method="GET" id="formfilters">
                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-6">
                                    {% include 'field.html' with field=form_filters.name  %}

                                </div>
                                <div class="col-md-6">
                                    {% include 'field.html' with field=form_filters.country  %}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-6">
                                    {% include 'field.html' with field=form_filters.membership_type  %}
                                </div>
                                <div class="col-md-6">
                                    {% include 'field.html' with field=form_filters.service_type  %}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-4">
                                    {% include 'field.html' with field=form_filters.currency  %}
                                </div>
                                <div class="col-md-4">
                                    {% include 'field.html' with field=form_filters.state  %}
                                </div>
                                <div class="col-md-4">
                                    {% include 'field.html' with field=form_filters.invoices  %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-right">
                                    <a href="{% url 'memberships' %}" class="btn btn-dark">Limpiar filtros</a>
                                    <button class="btn btn-success" type="submit">Buscar</button>
                                </div>
                            </div>
                        </form>
                         <div id="modalnewslettertemplate" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Seleccione la plantilla base de boletín</h4>
                                        </div>

                                        <div class="modal-body">
                                            {% include 'field.html' with field=form_template_newsletter.news_letter_template  %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-success" type="button" data-url="{% url 'create_news_letter_membership' %}" onclick="newsletter_membership(this)">Seleccionar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="buttons" style="text-align:right;">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalnewslettertemplate">Nuevo boletín</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-md">Nueva membresía</button>
                     </div>
                </div>
                <div>
                    <!--modal new membership-->
                    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <form action="create" method="GET">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="myModalLabel">Crear un nueva membresía</h1>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                
                                <div class="modal-body">
                                    <h4>Seleccione la plantilla a utilizar</h4>
                                    <select name="t" id="mem_template" class="form-control">
                                        <option value="">Sin plantilla</option>
                                        {% for temp in mem_template %}
                                            <option value="{{temp.pk}}">{{temp.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--endmodal-->
                    
                    <!-- modal delete membership-->
                    <div id="modaldeletetask" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">¿Está segura que desea eliminar este elemento?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                <a class="btn btn-danger" id="deletetask">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row membership_cards">
            {% for membership in object_list %}
                <div class="col-md-3 widget widget_tally_box">
                    <div class="x_panel fixed_height_390 {% if membership.last_renew < today.date %}{{"expired_membership"}}{% endif%}
                    {% if membership.state == 'inactive' %}{{"inactive_membership"}}{% endif %}">
                        <div class="x_title">
                            <h2>
                                <span class="{{ membership.country.flag }}"></span>
                                <b>{{membership.membership_type}}</b>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a href="{% url 'edit_memberships' pk=membership.pk %}" class="edit-link"><i class="fa fa-edit"></i></a></li>
                                <li><a data-url="{% url 'delete_memberships' pk=membership.pk %}" onclick="deleteelement(this)"><i class="fa fa-close"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div style="text-align: left; margin-bottom: 15px;">
                                <h4>Información:</h4>
                                <h5>{{membership.name}}</h5>
                                <div>Renovación: {{membership.renewal_period}}</div>
                                <div>Estado:
                                    {% if membership.state == 'active' %} 
                                        Activa
                                    {% else %}
                                        Inactiva
                                    {% endif %}
                                </div>
                                <div>Número de facturas:{{membership.mem_inv.all.count}}</div>
                                <div>
                                    Fecha de renovación: {{ membership.last_renew|date:"Y-m-d" }}
                                </div>
                                <div>
                                    Moneda: {{ membership.currency.currency }}
                                </div>
                                <div>Contactar: 
                                    {% if membership.organization.telgroup.chat_id != "" %}
                                        <a href="https://t.me/joingroup/{{ membership.organization.telgroup.chat_id }}"><span class="telegram_icon"><i class="fa fa-send" aria-hidden="true"></i></span></a>
                                    {% endif %}

                                    <a type="button" data-url="{% url 'email_template' pk=membership.pk %}" onclick="email_membership(this)"><span class="mail"><i class="fa fa-envelope" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_footer">
                        <h4>Cantidad: <b>{{membership.annual_cost}} {{membership.currency}}</b></h4>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="paginator_container">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        {% if q or p or c or s or d %}
                            <li><a href="?page={{ page_obj.previous_page_number }}&q={{q}}&p={{p}}&c={{c}}&s={{s}}&d={{d}}">&laquo;</a></li>
                        {% else %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% endif%}
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            {% if q or p or c or s or d %}
                                <li><a href="?page={{ i }}&q={{q}}&p={{p}}&c={{c}}&s={{s}}&d={{d}}">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if q or p or c or s or d %}
                            <li><a href="?page={{ page_obj.next_page_number }}&q={{q}}&p={{p}}&c={{c}}&s={{s}}&d={{d}}">&raquo;</a></li>
                        {% else %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    {% else %}
        <h1>Usted no tiene suficientes permisos para ver Membresías</h1>
    {% endif %}

<div id="modalemailtemplate" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Seleccione la plantilla base de correo.</h4>
            </div>
            <form method="post" id="emailform">
            <div class="modal-body">
                {% csrf_token %}
                {{ form_template_email.as_horizontal }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" type="submit">Continuar</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            const p = "{{p}}";
            const d = "{{d}}";
            $('#countries').val("{{p}}").change();
            $('#state').val("{{s}}").change();
            $('#currency').val("{{c}}").change();
            $('input.flat').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        $("#reset").click(function(){
            $('#countries').val(p).change();
                const d_opt = $('input.due_date');
                d_opt.removeAttr('checked').iCheck('update');
                d_opt.each(function(index){
                    if($(this).val() === d){
                        $(this).iCheck('check');
                    }
                });
            });
        });
        function deleteelement(element){
            $("#deletetask").attr("href", $(element).data('url'));
            $("#modaldeletetask").modal();
            return false
        }

    </script>
<script>
    function newsletter_membership(element){
        $("#formfilters").attr("action", $(element).data('url'));
        $("#formfilters").submit();
    }

    function memberships(element){
        $("#formfilters").attr("action", $(element).data('url'));
        $("#formfilters").submit();
    }

    function email_membership(element){
        $("#emailform").attr("action", $(element).data('url'));
        $("#modalemailtemplate").modal();
    }

    $(window).load(function() {
      $('.select2-container').width('100%');
    });

    (function(){

     $("#id_email_template option:contains('---------')").text('Sin plantilla');
     })(jQuery);
</script>
{% endblock js %}