{% extends 'gentelella/base.html' %}

{% load static %}
{% block extra_css %}
    <link href="{% static 'css/membership.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    
    <h2>Membresías</h2>
    {% if perms.membership_manager.view_membership %}
        <div class="search_options">
            <div class="row">
                <div class="col-md-9">
                    <div class="x_panel">
                        <form method="GET">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" value="{{q}}" name="q" class="form-control" placeholder="Buscar por organización o contacto">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-inline">
                                        <label class="control-label">País: </label>
                                        <select id="countries" name='p' class="form-control">
                                            <option value="">No filtrar</option>
                                            {% for country in countries %}
                                                <option value="{{country.pk}}">{{country.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 form-inline">
                                    <label class="control-label">Moneda: </label>
                                    <select id="currency" name='c' class="form-control">
                                        <option value="">No filtrar</option>
                                        {% for c in currency %}
                                            <option value="{{c.currency}}">{{c.currency}}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="control-label">Estado: </label>
                                    <select id="state" name='s' class="form-control">
                                        <option value="">No filtrar</option>
                                        {% for state, name in states %}
                                            <option value="{{state}}">{{name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="control-label">Vencidas: </label>
                                    Si:<input type="radio" class="flat due_date" {% if d == "yes" %}checked {% endif %} name="d" value="yes" /> 
                                    No:<input type="radio" class="flat due_date" {% if d == "no" %}checked {% endif %} name="d" value="no" />
                                    No filtrar:<input type="radio" class="flat due_date" {% if d == "" %}checked {% endif %} name="d" value="" /> 
                                </div>
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <!-- necesary to implement -->
                                        <button id="reset" type="reset" class="btn btn-secondary">Limpiar filtros</button>
                                        <!-- endrequirement -->
                                        <button class="btn btn-success" type="submit">Búscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="buttons">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-md">Nueva Membresía</button>
                    </div>

                    <!--modal-->
                    <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <form action="create" method="GET">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="myModalLabel">Crear un nueva membresía</h1>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                
                                <div class="modal-body">
                                    <h4>Seleccione la plantilla a utilizar</h4>
                                    <select name="t" id="mem_template" class="form-control">
                                        <option value="">Sin plantilla</option>
                                        {% for temp in mem_template %}
                                            <option value="{{temp.pk}}">{{temp.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--endmodal-->

                </div>
            </div>
        </div>
        <div class="row membership_cards">
            {% for membership in object_list %}
                <div class="col-md-3 widget widget_tally_box">
                    <div class="x_panel fixed_height_390 {% if membership.last_renew < today.date %}{{"expired_membership"}}{% endif%}
                    {% if membership.state == 'inactive' %}{{"inactive_membership"}}{% endif %}">
                        <div class="x_title">
                            <h2>
                                <span class="{{ membership.country.flag }}"></span>
                                <b>{{membership.membership_type}}</b>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div style="text-align: left; margin-bottom: 15px;">
                                <h4>Información:</h4>
                                <h5>{{membership.name}}</h5>
                                <div>Renovación: {{membership.renewal_period}}</div>
                                <div>Estado:
                                    {% if membership.state == 'active' %} 
                                        Activa
                                    {% else %}
                                        Inactiva
                                    {% endif %}
                                </div>
                                <div>Número de Facturas:{{membership.mem_inv.all.count}}</div>
                                <div>
                                    Fecha de renovación: {{ membership.last_renew|date:"Y-m-d" }}
                                </div>
                                <div>
                                    Moneda: {{ membership.currency.currency }}
                                </div>
                                <div>Contactar: 
                                    {% if membership.organization.telgroup.chat_id != "" %}
                                        <a href="https://t.me/joingroup/{{ membership.organization.telgroup.chat_id }}"><span class="telegram_icon"><i class="fa fa-send" aria-hidden="true"></i></span></a>
                                    {% endif %}

                                    <a href="mailto:{{membership.email}}"><span class="mail"><i class="fa fa-envelope" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_footer">
                        <h4>Cantidad: <b>{{membership.annual_cost}} {{membership.currency}}</b></h4>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="paginator_container">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        {% if q or p or c or s or d %}
                            <li><a href="?page={{ page_obj.previous_page_number }}&q={{q}}&p={{p}}&c={{c}}&s={{s}}&d={{d}}">&laquo;</a></li>
                        {% else %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% endif%}
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            {% if q or p or c or s or d %}
                                <li><a href="?page={{ i }}&q={{q}}&p={{p}}&c={{c}}&s={{s}}&d={{d}}">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        {% if q or p or c or s or d %}
                            <li><a href="?page={{ page_obj.next_page_number }}&q={{q}}&p={{p}}&c={{c}}&s={{s}}&d={{d}}">&raquo;</a></li>
                        {% else %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    {% else %}
        <h1>Usted no tiene suficientes permisos para ver Membresías</h1>
    {% endif %}
{% endblock content %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            const p = "{{p}}";
            const d = "{{d}}";
            $('#countries').select2();
            $('#countries').val("{{p}}").change();
            $('#state').val("{{s}}").change();
            $('#currency').val("{{c}}").change();
            $('input.flat').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
            $("#reset").click(function(){
                $('#countries').val(p).change();
                const d_opt = $('input.due_date');
                d_opt.removeAttr('checked').iCheck('update');
                d_opt.each(function(index){
                    if($(this).val() === d){
                        $(this).iCheck('check');
                    }
                });
            });
        });
    </script>
{% endblock js %}