{% extends 'gentelella/base.html' %}
{% load static %}
{% load gtsettings %}
{% block pre_head %}
    {% define_true "use_datatables" as use_datatables %}
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
        <div class='col-md-12 col-xs-12'>
            <h1 class="text-center">Renovaciones</h1>
            <div class="x_panel">
                <div class="x_content" style="display: block;">
                    <div class="dashboard-widget-content">
                        <table id="renewalslist" class="table table-striped table-bordered" style="width:100%; text-align: center;">
                            <thead>
                                <tr style="text-align: center;">
                                    <th style="text-align: center;">Fecha de creación</th>
                                    <th style="text-align: center;">Fecha de inicio</th>
                                    <th style="text-align: center;">Fecha de finalización</th>
                                    <th style="text-align: center;">Estado</th>
                                    <th style="text-align: center;">En cobro</th>
                                    <th style="text-align: center;">Factura</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for renew in renewals_list %}
                            <tr>
                                <td>{{ renew.creation_date.date }} </td>
                                <td>{{ renew.start_date }}</td>
                                <td>{{ renew.end_date }}</td>
                                <td>{% if renew.active %} Activa {% else %} Inactiva {% endif %}</td>
                                <td>{% if renew.encobro %} Sí {% else %} No {% endif %}</td>

                                <td>{% for invoice in renew.inv_m_renews.all %}
                                    <a href="{% url 'invoice-edit' pk=invoice.pk %}" title="Ver factura"><i class="fa fa-credit-card"></i></a>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
(function(){
    $("#renewalslist").DataTable();
})(jQuery);
</script>
{% endblock %}