{% extends 'gentelella/base.html' %}

{% load static i18n %}
{% block content %}
<div class="row">
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
        <div class="x_panel">
            <div class="x_title">
                <h1 class="text-center">{% trans "New Professor" %}</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="post">
                    {% csrf_token %}
                    {{user_form.as_horizontal}}
                    {{form.as_horizontal}}
                    <br>
                    <div class="form-group" style="text-align:center">
                        <a class="btn btn-danger" type="button" href="{% url 'professors_list' %}">Cancelar</a>
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        $(document).ready(function(){
            $("#id_password").after("<input type='checkbox' onclick='myFunction()'> Mostrar contraseña<br/>");
            //Button add User
            btnNewOrg = "<div class='text-right' style='margin-top:5px'>"+
                "<a target='_blank' id='show_organization' style='display:none; text-align: center;'><strong>Ver información de la organización</strong></a>"+
                "<a title='Nueva usuaria' href='/enrollment/users/create'" +
                " style='font-size:2em' target='_blank'><i class='fa fa-plus-square'></i></a></div>";
            $('#id_user').parent().append(btnNewOrg);
        });
        function myFunction() {
            var x = document.getElementById("id_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}