{% extends 'gentelella/base.html' %}

{% load static %}
{% block extra_css %}
    <link href="{% static 'css/membership.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="row">
    <div class='col-md-8 col-md-offset-2 col-xs-12'>
        <div class="x_panel">
            <div class="x_title">
                <h1 class="text-center">Nueva profesora</h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form method="post">
                    {% csrf_token %}
                    {{user_form.as_horizontal}}
                    {{form.as_horizontal}}
                    <br>
                    <div class="form-group" style="text-align:center">
                        <a class="btn btn-danger" type="button" href="{% url 'professors_list' %}">Cancelar</a>
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        $(document).ready(function(){
            $("#id_password").after("<input type='checkbox' onclick='myFunction()'> Mostrar contraseña<br/>");
        });
        function myFunction() {
            var x = document.getElementById("id_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}