{% extends 'gentelella/base.html'%}
{% load i18n %}
{% block extra_css %}
	<style>
		.profile_title{
			margin: 5px;
			padding: 5px;
		}
		img.resize {
			width:150px;
			height: auto;
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block content %}
	<br/>
	<h3 class="green">Perfil del facilitador</h3>
	<div class="row">
		<div class="col-md-8">
			<div class="x_panel" style="font-size:1.5em">
				<div class="row">
					<div class="col-md-12">{{object.get_description|safe}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="animated flipInY">
				<div class="tile-stats" style="text-align:center;padding:15px;">
					{% if object.photo %}
						<img class="resize" src="{{object.photo.url}}"/>
					{% else %}
						<img class="resize" src="/static/unknown-user.png">
					{% endif %}
					<div>{{object}}</div>
					<div>{{object.email}}</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock%}