{% extends 'gentelella/base.html'%}
{% load static utils %}
{% block content %}
    <h1 class="text-center">Histórico de cursos</h1>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="x_panel">
                <div class="dashboard-widget-content">
                    <ul class="list-unstyled timeline widget">
                        {% for obj in object_list %}
                          <li> <span></span></li>
                          <div class="block">
                            <div class="block_content">
                              <h2 class="title">
                                {{obj.group.course}} Grupo: {{obj.group}}  {{obj.group.schedule}}
                              </h2>
                              <p class="excerpt">
                                <span class="text-purple">{{obj.get_status}}
                                  {% if obj.pdf_certificate %}
                                    <a href="{{obj.pdf_certificate.url}}" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                    {% endif %}
                                </span>
                              </p>
                            </div>
                          </div>
                        {% empty %}
                          <li>No posee cursos matriculades</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}