{% extends 'gentelella/base.html'%}
{% load static %}
{%load i18n %}
{% load gtsettings %}
{% block pre_head %}
    {% define_true "use_datatables" as use_datatables %}
{% endblock %}
{%block content %}
<div class="container">
    <div class="row">
        <div class='col-md-12 col-xs-12'>
            <h1 class="text-center"> Calificaciones</h1>
            <h2 class="text-center"><strong>{{group.name}} - {{group.course.name}}</strong></h2>
            <div class="x_panel">
                <div class="x_content" style="display: block;">
                    <div class="dashboard-widget-content">
                        <div class="form-group row" id="formgroupquality" style="display:none;">
                            <div class="col-sm-2">
                                <label style="color:red">Calificar estudiantes</label>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <a title="Calificar estudiantes" class="edit-link" data-toggle="modal" data-target="#qualifystudentmodal" style="color:red;"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                            </div>
                        </div>


                        <table id="studentstable" class="table table-striped table-bordered text-center" style="width:100%">
                            <thead>
                                <tr id="trhead">
                                    <th title="Seleccionar todos" class="text-center" style="padding-right: 6px;" id="selecction">
                                        <input type="checkbox" id="selectall" class="flat" data-widget="CheckboxInput" data-key="0">
                                    </th>
                                    <th class="text-center">Nombre completo</th>
                                    <th class="text-center">Correo electrónico</th>
                                    <th class="text-center">Factura generada</th>
                                    <th class="text-center">Pagado</th>
                                    <th class="text-center">Nota</th>
                                    <th class="text-center">Estado</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for enroll in enroll_list %}
                            <tr>
                                <td class="checkselection">
                                    <input type="checkbox" class="flat checkstudent" data-widget="CheckboxInput" style="opacity: 0;" data-id="{{enroll.pk}}" data-key="0">
                                </td>
                                <td>{{ enroll.student.user.get_full_name }}</td>
                                <td>{{ enroll.student.user.email }}</td>
                                <td>{% if enroll.bill_created %}Sí{% else %}No{% endif %}</td>
                                <td>{% if enroll.bill.is_paid %}Sí{% else %}No{% endif %}</td>
                                <td>
                                    <input type="number" step="any" name="course_score" value="{{ enroll.course_score }}" required id="id_course_score{{enroll.pk}}">
                                </td>
                                <td>
                                    <select name="course_status"  class="select2_single form-control " data-widget="Select" id="id_course_status{{enroll.pk}}">
                                        <option value="" {% if not enroll.course_status %}selected{% endif %}>---------</option>
                                        <option value="approved" {% if enroll.course_status %}{% if enroll.course_status == 'approved' %}selected{% endif %}{% endif %}>Aprobado</option>
                                        <option value="reproved" {% if enroll.course_status %}{% if enroll.course_status == 'reproved' %}selected{% endif %}{% endif %}>Reprobado</option>
                                    </select>

                                </td>
                           </tr>
                            {% endfor %}

                        </tbody>
                        </table>

                        <div class="form-group" style="text-align:center">
                            <a class="btn btn-primary" type="button" href="{% url 'groups_enroll' %}">Atrás</a>
                            <button class="btn btn-success" type="button" onclick="json_table()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="qualifystudentmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post" id="qualifystudentform">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Calificar estudiantes</h4>
          <h5><strong>Esta acción modificará los estados de los estudiantes seleccionados.</strong></h5>
      </div>
      <div class="modal-body">

          {% csrf_token %}
          {{form.as_horizontal}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" onclick="qualify_status()" class="btn btn-success">Guardar</button>
      </div>
        </form>
    </div>
  </div>
</div>
<style>
    #selecction::after{
        content: "";
    }
</style>
{%endblock%}
{% block js %}
{{ block.super }}
<script>
function select_rows(object_checkbox){

    var list_rows = $('.icheckbox_flat-green').children();

    if(object_checkbox.parent().hasClass("checked")){
        object_checkbox.parent().removeClass("checked");
        $('.icheckbox_flat-green').removeClass("checked");
        $('#formgroupquality').hide();

        $(list_rows).each(function(index, element){
            if(element.hasAttribute("data-id")){
                $(element).attr("data-key", "0");
            }
        });

    }else{
        object_checkbox.parent().addClass("checked");
        $('.icheckbox_flat-green').addClass("checked");

        $(list_rows).each(function(index, element){

            if(element.hasAttribute("data-id")){
                $(element).attr("data-key", "1");
            }
        });
        $('#formgroupquality').show();
    }
}


function base(){

    var checkList = new Array();

    $("tbody tr").each(function () {
      $(this).find("td div input").each(function(i, v) {

        if(i === 0){
            checkList.push($(this).children().children().context.dataset['key']);
        }
      });
    });

    return checkList;
}

function change_key(object_checkbox){
    $(object_checkbox).removeAttr("data-key");
    if(object_checkbox.parent().hasClass("checked")){
        object_checkbox.attr("data-key", "0");
    }else{
        object_checkbox.attr("data-key", "1");
    }

    var list_checkbox = base();

    if (list_checkbox.indexOf("1") !== -1 ) {
        $('#formgroupquality').show();
    }else{
        $('#formgroupquality').hide();
    }

    list_checkbox.splice(0, list_checkbox.length);
}

function json_table(){

    var heads = [];
    $("thead").find("th").each(function () {
        if($(this).text().trim() === ""){
            heads.push("pk");
        }else{
            heads.push($(this).text().trim());
        }
    });

    var rows = [];
    $("tbody tr").each(function () {
      cur = {};
      $(this).find("td").each(function(i, v) {

        if(i === 0){
            cur[heads[i]] = $(this).children().children().data('id')
        }else{

            if(i === 3 || i === 4){

                if($(this).children().val() === ""){
                    cur[heads[i]] = null;
                }else{
                cur[heads[i]] = $(this).children().val();
                }

            }else{
                cur[heads[i]] = $(this).text().trim();
            }
        }
      });
      rows.push(cur);
      cur = {};
    });


$.ajax({
    url: "{% url 'update_enroll' %}",
    type: "POST",
    data: JSON.stringify(rows),
    headers: {'X-CSRFToken': getCookie('csrftoken') },
    dataType : 'json',
    success: function() {

        Swal.fire(
          'Calificaciones',
          'Actualizadas exitosamente.',
          'success'
        )
    }
});
}


function qualify_status(){

    var heads = ["pk"];

    var rows = [];
    $("tbody tr").each(function () {
      cur = {};
      $(this).find("td").each(function(i, v) {

        if(i === 0 && $(this).children().hasClass("checked")){
            cur[heads[i]] = $(this).children().children().data('id')
        }
      });
      rows.push(cur);
      cur = {};
    });

$.ajax({
    url: "/enrrolment/{{group.pk}}/qualify_students/"+ String($("#id_course_status").val())+"/",
    type: "POST",
    data: JSON.stringify(rows),
    headers: {'X-CSRFToken': getCookie('csrftoken') },
    dataType : 'json',
    success: function() {
        $("#qualifystudentmodal").modal().hide();
        window.location.href = "{% url 'qualify_students' pk=group.pk %}";
    }
});

}


(function(){
    $('#studentstable').DataTable();
    $(window).load(function() {
      $('.select2-container').width('100%');
      $(".icheckbox_flat-green").removeClass("checked");
    });

    $("#selectall").on("ifChanged", function(){
        select_rows($(this));
    });

    $('.checkstudent').on("ifChanged", function(){
        change_key($(this));
    });

})(jQuery);
</script>
{% endblock %}