{% extends 'gentelella/base.html'%}
{% load static %}
{% block content %}
	<h1 class="text-center">Estudiantes</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="x_panel">
				<form method="POST">
					{% csrf_token %}
					<div class="x_title">
						<h2 class="green">Cambiar contraseña de estudiante</h2>
						<ul class="nav navbar-right panel_toolbox">
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						{{form.as_horizontal}}
					</div>
					<div class="text-right">
						<a class="btn btn-dark" href="{% url 'students' %}">Cancelar</a>
						<input class="btn btn-primary" value="Guardar" type="submit"/>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		$(document).ready(function(){
			$("#id_password").after("<input type='checkbox' id='show_password' onclick='myFunction()'> Mostrar contraseña<br/>");
            $('#show_password').parent().css({'text-align':'left', "margin-bottom":"5px"});
		});
		function myFunction() {
			var x = document.getElementById("id_password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
{% endblock %}