{% extends 'gentelella/base.html'%}
{% load static utils membership_code i18n %}
{% block content %}
	<h1 class="text-center">Estudiantes</h1>
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
			{% if object_list %}
				<div class="x_panel">
					<div class="x_content">
						<form method="GET">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.student %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.active %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.group %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.organization %}
							</div>
							<div class="text-right">
								<a href="{% url 'students' %}" class="btn btn-dark">Limpiar</a>
								<button class="btn btn-success" type="submit">Buscar</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			{% else %}
				<div class="alert alert-info" role="alert">
					{% trans 'There are not students available' %}
				</div>
			{% endif %}
		</div>
		<div class="col-sm-12 col-xs-12 col-md-2 text-right">
			{% if perms.matricula.add_student %}
				<a class="btn btn-primary" href="{% url 'create_student' %}">Crear estudiante</a>
			{% endif %}
		</div>
	</div>
	{% if perms.matricula.delete_student %}
		<!-- modal delete category -->
		<div id="modaldeleteitem" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">¿Está segura que desea eliminar esta estudiante?</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger" id="deleteitem">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end delete modal-->
	{% endif %}
	<div class="row">
	{% for object in object_list %}
		<div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
			<div class="x_panel" style="height:330px;">
				<div class="x_title">
					<h2 class="green">{{object}}</h2>
					<ul class="nav navbar-right panel_toolbox" style="min-width:unset;">
						{% if perms.matricula.change_student %}
							<li>
								<a href="{% url 'edit_student' object.pk %}" class="edit-link" title="Editar estudiante"><i class="fa fa-edit"></i></a>
							</li>
						{% endif %}
						{% if perms.matricula.delete_student %}
							<li><a data-url="{% url 'delete_student' pk=object.pk %}" onclick="deleteitem(this)" title="Eliminar estudiante"><i class="fa fa-close"></i></a></li>
						{% endif %}
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<ul class="list-unstyled user_data">
								<li>
									<strong>Correo: </strong>{{object.user.email}}
								</li>
								<li>
									<strong>Usuario: </strong>{{object.user}}
								</li>
								<li>
									<strong>Estado: </strong>{% if object.user.is_active %}Activo <i class="fa fa-check"></i>{%else%}Inactivo <i class="fa fa-times"></i>{%endif%}
								</li>
								<li>
									<strong>País: </strong>{{object.country}}
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<ul class="list-unstyled user_data">
								<li>
									<strong> Organización: </strong>{{object.organization}}
								</li>
								<li>
									<strong>Administrador: </strong>{% if object.user.is_superuser %}Sí{%else%}No</i>{%endif%}
								</li>
								<li>
									<strong>Teléfono: </strong>{{object.phone_number}}
								</li>
								<li>
									<strong>Cambiar contraseña: </strong><a href="{% url 'change_password_student' object.pk%}"><i class="fa fa-lock"></i></a>
								</li>
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="list-unstyled user_data">
								<li>
									<strong>Recuperar contraseña: </strong><a href="{% url 'recovery_pass_student' object.pk%}"><i class="fa fa-envelope"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
	<div class="clearfix"></div>
	<div class="paginator_container text-center">
		{% if is_paginated %}
			<ul class="pagination">
				{% if paginator.has_previous %}
					<li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in paginator.page_range %}
					{% if page_obj.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if paginator.has_next %}
					<li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
	<div class="clearfix"></div>
{%endblock%}
{% if perms.matricula.delete_enroll %}
	{% block js %}
		<script type="text/javascript">
			function deleteitem(element){
				$(function(){
					$("#deleteitem").attr("href", $(element).data('url'));
					$("#modaldeleteitem").modal();
				});
				return false
			}
		</script>
	{% endblock js%}
{% endif %}