{% extends 'gentelella/base.html'%}
{% load static %}
{%block content%}
	<h1 class="text-center">Estudiantes</h1>
	<div div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 col-md-offset-1">
		<div class="x_panel">
			<form method="POST">
				{% csrf_token %}
				<div class="x_title">
					<h3 class="green">Crear estudiante</h3>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div>
						{{form.as_horizontal}}
					</div>
					<div class="text-right">
						<a class="btn btn-dark" href="{% url 'students' %}">Cancelar</a>
						<input class="btn btn-primary" value="Guardar" type="submit"/>
					</div>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
{%endblock%}
{%block js%}
	<script>
		var input = document.querySelector('#id_organization'),
		tagify = new Tagify(input, {whitelist:[]}),
		controller; // for aborting the call
		// listen to any keystrokes which modify tagify's input
		tagify.settings.maxTags=1
		tagify.on('input', onInput)
		tagify.on('add', onAdd)
		function onAdd(e){
			input.value=e.detail.data.value
		}
		function onInput( e ){
			var value = e.detail.value;
			tagify.settings.whitelist.length = 0; // reset the whitelist

			// https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
			controller && controller.abort();
			controller = new AbortController();

			// show loading animation and hide the suggestions dropdown
			tagify.loading(true).dropdown.hide.call(tagify)

			fetch("/gtapis/student/?q="+e.detail.value, {signal:controller.signal})
				.then(RES => RES.json())
				.then(function(whitelist){
				// update inwhitelist Array in-place
				var whitelst = []
				for(var i=0; i<whitelist.total_count; i++){
					whitelst.push(whitelist.results[i].text)
				}
				console.log(whitelst)
				tagify.settings.whitelist.splice(0, whitelist.total_count, ...whitelst)
				tagify.loading(false).dropdown.show.call(tagify, value); // render the suggestions dropdown
			})
		}
	</script>
{%endblock%}