{% extends 'gentelella/base.html' %}

{% load static %}

{% block content %}
<div class="x_panel">
    <div class="x_title">
        <h1 class="text-center">Editar reporte de atención</h1>
        <div class="clearfix"></div>
    </div>
 <div class="x_content">
  <form method="POST" >{% csrf_token %}
      {{ form.as_horizontal }}
        <div class="row">
           <div class="text-right">
               <a href="{% url 'activityreport-list' %}" class="btn btn-dark">Cancelar</a>
               <button class="btn btn-success" type="submit"  >Guardar</button>
           </div>
       </div>
  </form>
 </div>
</div>

{% endblock %}