{% extends 'gentelella/base.html' %}

{% load static %}

{% block content %}
<div class="x_panel">
 <div class="x_content">
  <form method="GET" >
      {{ filterform.as_horizontal }}
        <div class="row">

           <div class="text-right">
               <a href="{% url 'activityreport-list' %}" class="btn btn-dark">Limpiar filtros</a>
               <button class="btn btn-success" type="submit"  >Buscar</button>
           </div>
       </div>
  </form>
 </div>
</div>
<div class="x_panel">
<div class="x_title">
<h2>Lista de atenciones realizadas</h2>
 <ul class="nav navbar-right panel_toolbox">
  <li><a href="{% url 'activityreport-add' %}" class="btn btn-success pull-right " style="color: #fff;"><i class="fa fa-plus"></i> Nueva</a>
 </ul>
<div class="clearfix"></div>
</div>
<div class="x_content">
<ul class="list-unstyled timeline">
       {% for object in object_list %}
        <li>
        <div class="block">
        <div class="tags">
        <a href="#" class="tag">
        <span id="duration_{{object.pk}}">{{object.duration}} horas</span>
        </a>
        </div>
        <div class="block_content">
        <h2 class="title">
        <a>{{object.organization}}</a>
        </h2>
        <div class="byline">
         {% if perms.membership_manager.change_activityreport %}
         <a href="{% url 'activityreport-edit' object.pk %}" title="Editar"><i class="fa fa-edit"></i>  </a>
         {% endif %}
        <span>{{object.start_date}} a {{object.end_date}}</span> creado por <a>{{object.user.username}}</a>
        </div>
        <p class="excerpt">
         {{object.description}}
         {% if perms.membership_manager.change_activityreport %}
            {% if object.duration == 0 or not object.manual_edited %}
         <button data-item="{{object.pk}}" class="btn btn-xs btn-info pull-right raclock"><i class="fa fa-clock-o" aria-hidden="true"></i>
</button>
            {% endif %}
         {% endif %}
            <ul id="ulatt_{{object.pk}}" class="fa-ul" style="width: 80%">
            {% for att in object.attentions.all %}
            <li><i class="fa-li fa fa-clock-o"></i> {{att.start_date}} a {{att.end_date}}</li>
            {% endfor %}
            </ul>
        </p>
        </div>
        </div>
        </li>
        {% endfor %}

</ul>
</div>
</div>

{% include 'gentelella/cruds/pagination/enumeration.html' %}

<div id="hoursmodal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="hoursModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-body">

        <form id="hoursform" method="post" action="{% url 'activityreporthour-add' %}" >
            {{hoursform.as_horizontal}}
            {% csrf_token %}
        </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="hoursbtn">Guardar</button>
      </div>
           </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>

    $(document).ready(function(){
        $("#hoursbtn").on('click', function(){
            $.ajax({
                method: "POST",
                url: $("#hoursform").attr('action'),
                data: $("#hoursform").serialize(),
                dataType: 'json',
                success: function(data){
                   $("#duration_"+data.item).html(data.duration+" horas");
                   $("#ulatt_"+data.item).append('<li><i class="fa-li fa fa-clock-o"></i>'+data.time+'</li>');
                   $("#hoursmodal").modal('hide');
                },
                error: function (result) {
                      alert("Un error inesperado ha ocurrido, por favor vuelva a intentarlo");
                }
        });
        });

        $(".raclock").on('click', function(){
            $('input[name="item"]').val($(this).data("item"));
            $("#hoursmodal").modal();
        });
    });

</script>

{% endblock %}