{% load i18n %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Iniciar Sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Registrarme</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <br/>
    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <form id="frm_login" method="POST" autocomplete="off">
            <div id="login-errors" style="display:none; color: red;">
                Usuarie y/o contraseña incorrectos o usuarie deshabilitado.
            </div>
            {{login_form.as_horizontal}}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" name='login-form' value="1" id="btn_login" class="btn btn-primary">Iniciar Sesión</button>
                <a class="btn btn-dark" href="{% url 'password_reset' %}" target="__blank">{% trans 'Lost your password?' %}</a>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form id="frm_enroll" method="POST" autocomplete="off">
            {{student_form.as_horizontal}}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" name='student-form' id="btn_enroll" value="2" class="btn btn-primary">Registrarme</button>
            </div>
        </form>
    </div>
</div>