<!DOCTYPE html>
{% load static i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alta</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h3>¡Te damos la bienvenida a Código Sur!</h3>
    <p>Hola, {{ membership.contact.first_name }}!</p>
    <br/>
    <p>Hemos activado tu membresía!</p>
    <br/>
    <p>Nos alegra que decidieras unirte a la familia de Código Sur. Ya puedes disfrutar de nuestros servicios.</p>
    <p>Sientete libre de contactarnos si nos necesitas o surge algún inconveniente.</p>
    <p>Tel:8888-888             Correo:example@mail.com</p>
    <br/>
    <br/>
    <p>Estamos para servirte</p>
    <p>Codigo Sur</p>

</body>
</html>