{% load static %}

<html>
    <head>
        <title>Alta</title>
    </head>
    <body>
        <h3>¡Te damos la bienvenida a Código Sur!</h3>
        <p>Hola, {{ membership.contact.first_name }}!</p>
        <br/>
        <p>Hemos activado tu membresía!</p>
        <br/>
        <p>Nos alegra que decidieras unirte a la familia de Código Sur. Ya puedes disfrutar de nuestros servicios.</p>
        <p>Sientete libre de contactarnos si nos necesitas o surge algún inconveniente.</p>
        <p>Tel: +506 8569 1676             Correo:ayuda@codigosur.org</p>
        <br/>
        <br/>
        <p>Estamos para servirte</p>
        <p>Codigo Sur</p>

    </body>
</html>