<!DOCTYPE html>
{% load static i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alta</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h3>Membresía Cancelada</h3>
    <p>Hola cliente!</p>
    <br/>
    <p>Como lo has solicitado, tu membresía no será renovada nuevamente.</p>
    <br/>
    <p>Es una pena para nosotros que nos dejes, asi que si cambias de parecer, estaremos felices de recibirte de nuevo.
        Solo debes comunicarte con nosotros para renovar tu membresía y disfrutar de todos nuestros servicios</p>
    <br/>
    <br/>
    <p>Estamos para servirte</p>
    <p>Codigo Sur</p>

</body>
</html>