{% extends 'gentelella/base.html'%}
{% block extra_css %}
	<style>
		td{
			padding-right:20px;
		}
	</style>
{% endblock %}
{% block content %}
	{% load i18n %}
	{% if request.user.is_authenticated and not request.user.student %}
		<h1 class="text-center">Facturas</h1>
		<form method="post" action="{% url 'add_student' %}">
			{% csrf_token %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<strong>Advertencia!</strong> Para tomar cursos usted debe tener rol de estudiante. 
				<button type="submit" class="btn btn-sm btn-primary">Crear</button>
			</div>
		</form>
	{% else %}
		<div class="jumbotron" style="margin-top:10px; padding:20px;">
			<p><b>{% trans "Contributions allow us to continue creating courses and also accompany and support more communities." %}<b></p>
		</div>
		<h1 class="text-center"> {% trans 'Unpaid bills' %}</h1>
		<div class="x_panel">
			{% for bill in not_paid%}
				<div class="alert alert-warning text-center" role="alert">
					{% trans 'Paid bills using Paypal take between 2 or 3 minutes to be updated, refresh to see most recent changes' %} 
					<a class="btn btn-primary" href="{% url 'bills' %}">{% trans 'Refresh' %}</a>
				</div>
				<div class="product_price">
					<h1 class="price green">{{bill.obj.short_drescription}}</h1>
					<div class="col-md-6 col-lg-6 col-sm-12">
						<div class="price-tax">
							{{bill.obj.description|safe}}
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div style="margin-top:50px;" class="price-tax text-center">
							{% if bill.obj.amount > 0.0 %} {{bill.form.render}} {% else %} Factura sin pendientes {% endif %}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			{% empty %}
				<div class="alert alert-info text-center" role="alert">
					{% trans "You don't have Unpaid bills" %}
				</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

		<h1 class="text-center"> {% trans "Paid bills" %} </h1>
		<div class="x_panel">
			{% for bill in paid %}
				<div class="product_price">
					<div class="price-tax">
						{{bill.description|safe}}
					</div>
				</div>
			{% empty %}
				<div class="alert alert-info text-center" role="alert">
					{% trans "You don't have paid bills" %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}