{%load i18n %}
<style>
	td{
		padding-right: 20px;
	}
</style>
<h1>Correo de confirmación de pago</h1>
{{bill.description|safe}}
<br>
<p>Estimado estudiante {{student}}, a continuación se comparte el detalle de la factura.</p>
<center>
	<div class="status" style="background-color: #66FF99;">
		{% if bill.is_paid %} 
			{% trans 'Invoice paid' %} 
		{%else%} 
			{% trans 'Invoice unpaid' %}
		{%endif%}<br>
		{% trans 'Unique Transaction ID'%} {{bill.transaction_id}}
	</div>
</center>
<br>
{% if bill.paid_date %}
	<div class="paid_date"> {%trans "Paid Date"%} : {{ bill.paid_date}}</div>
{%endif%}