{% extends 'gentelella/base.html'%}
{% load static utils membership_code gtsettings %}
{% load utils %}
{% block pre_head %}
    {% define_true "use_datatables" as use_datatables %}
{% endblock %}
{% block extra_css %}
    <style>
        .dropdown-item {
            width: 100%;
            padding: 12px 20px;
            display: block;
        }

        .dropdown-menu.msg_list span {
            white-space: normal;
        }

        .dropdown-menu {
            border: medium none;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: none;
            float: left;
            font-size: 12px;
            left: 0;
            list-style: none outside none;
            padding: 0;
            position: absolute;
            text-shadow: none;
            top: 100%;
            z-index: 9998;
            border: 1px solid #D9DEE4;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdown-menu > li > a {
            color: #5A738E;
        }

        .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
            background: #169F85;
        }

        .btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark {
            color: #FFFFFF;
            background-color: #394D5F;
            border-color: #394D5F;
        }

        .dropdown-toggle::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }

        .btn-group button, .btn-group .buttons, .btn-group .btn, btn-group .modal-footer .btn + .btn {
            margin-bottom: 5px;
            margin-right: 5px;
        }

        .group_meta {
            display: inline-list-item;
            text-align: right;
        }
        #createtemplatebtn{
            color: #fff;
            padding: 10px;
            background-color: #394D5F;
            border-color: #394D5F;
            border-radius: 3px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1 class="text-center">Lista de estudiantes del curso</h1>
    <div class="col-sm-12">
        <div class="x_panel">
            <h2 class="green text-center">{{ group.name }}</h2>
            <div class="group_meta">
                <span class="badge">Estudiantes: {{ object.count }}</span>
                <span class="badge">Estado: {{ group.is_open|group_state }}</span>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    {% csrf_token %}
                    <table id="groupstable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr class="headings">
                            <th class="column-title">Nombre Completo</th>
                            <th class="column-title">Fecha de inscripción</th>
                            <th class="column-title">Para matricular</th>
                            <th class="column-title">Matriculade</th>
                            <th class="column-title">Factura Generada</th>
                            <th class="column-title">Pagado</th>
                            <th class="column-title">Certificado</th>
                            {% if show_column_action %}
                                <th class="column-title">Acción</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for enroll in object %}
                            <tr class="{% cycle 'odd' 'even' %} pointer">
                                <td class="">{{ enroll.student }}</td>
                                <td class="">{{ enroll.enroll_date }}</td>
                                <td class="">{% if enroll.enroll_activate %}Sí{% else %}No{% endif %}</td>
                                <td class="">{% if enroll.enroll_finished %}Sí{% else %}No{% endif %}</td>
                                <td class="">{% if enroll.bill_created %}Sí{% else %}No{% endif %}</td>
                                <td class="">{% if enroll.bill.is_paid %}Sí{% else %}No{% endif %}</td>
                                <td class="">
                                    {% if enroll.pdf_certificate %}
                                        <a title="Certificado" href="{{ enroll.pdf_certificate.url }}" target="_blank"
                                           class="btn btn-sm">
                                            <i class="fa s-2 fa-file-pdf-o"></i></a>
                                    {% else %}
                                        {% if enroll.enroll_finished %}
                                            {% if enroll.course_status == "reproved" %}
                                                Estudiante reprobade.
                                            {% elif enroll.course_status == "approved" %}
                                                Estudiante aprobade, debe generar el certificado.
                                            {% else %}
                                                Estudiante no calificade.
                                            {% endif %}
                                        {% else %}
                                            Matrícula no finalizada.
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if show_column_action %}
                                    <td class="">
                                        {% if enroll.pdf_certificate %}
                                            <a title="Regenerar certificado"
                                               href="{% url 'build_pdf_certificate_view' pk_group=enroll.group.pk pk=enroll.pk %}"
                                               class="btn btn-sm">
                                                <i class="fa fa-refresh green fa-2x"></i></a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a class="btn btn-dark" href="{% url 'groups_enroll' %}">Atras</a>
                    {% if perms.matricula.can_open_group %}
                        <a class="btn btn-primary" href="{% url 'open_group' group.pk %}">Abrir grupo</a>
                        {% if group.notified_open %}
                            <a class="btn btn-primary disabled" href="#">Ya se notifico de apertura</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'open_group' group.pk %}?sendemail=1">Abrir grupo y
                                notificar</a>
                        {% endif %}
                    {% endif %}
                    {% if perms.matricula.can_close_group %}
                        <a class="btn btn-primary" href="{% url 'close_group' group.pk %}">Cerrar grupo</a>
                        {% if group.notified_close %}
                            <a class="btn btn-primary disabled" href="#">Ya se notifico de cierre</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'close_group' group.pk %}?sendemail=1">Cerrar grupo y
                                notificar</a>
                        {% endif %}
                    {% endif %}
                    {% if show_buttons_certificates %}
                        <a class="btn btn-primary" href="{% url 'build_pdf_certificate_list' pk=group.pk %}">Generar
                            certificados</a>
                    {% endif %}
                    {% if perms.matricula.can_view_pdf_enrolled_group %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">PDF
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'export_enrolled_group' group.pk %}?finished=1">Matriculades</a>
                                <a class="dropdown-item" href="{% url 'export_enrolled_group' group.pk %}">Pre-matriculades</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="paginator_container text-center">
        {% if is_paginated %}
            <ul class="pagination">
                {% if paginator.has_previous %}
                    <li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.has_next %}
                    <li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <div class="clearfix"></div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#groupstable").DataTable();
        });
    </script>
{% endblock %}