{% extends 'gentelella/base.html'%}
{% load static utils membership_code i18n %}
{% block content %}
	<h1 class="text-center">Grupos</h1>
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2">
			{% if has_data %}
				<div class="x_panel">
					<div class="x_content">
						<form method="GET">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.name %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.course %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.period %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.currency %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.category %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.open %}
							</div>
							<div style="text-align:right">
								<a href="{% url 'groups_enroll' %}" class="btn btn-dark">Limpiar</a>
								<button class="btn btn-success" type="submit">Buscar</button>
							</div>
						</form>
					</div>
				</div>
			{% endif %}
		</div>
		{% if perms.matricula.add_group %}
			<div class="col-sm-2 col-xs-12 col-lg-2 col-md-3 text-right">
				<a class="btn btn-primary" href="{% url 'create_group_enroll' %}">Crear Grupo</a>
			</div>
		{% endif %}
	</div>
	{% if perms.matricula.delete_group %}
		<!-- modal delete category -->
		<div id="modaldeleteitem" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">¿Realmente desea eliminar este grupo?</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger" id="deleteitem">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end delete modal-->
	{% endif %}
		<div class="row">
	{% for object in object_list %}
		<div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
			<div class="x_panel size-box-500">
				<div class="x_title">
					<h2 class="green">{{object.name|safe|striptags}}</h2>
					<ul class="nav navbar-right panel_toolbox" style="min-width:unset;">
						<li>
						<a title="Matrículas" class="btn btn-sm" href="{% url 'enrolls' %}?group={{object.pk}}"><i class="fa fa-user red"></i> </a>
						</li>
						<li>
							<a title="Organizaciones y paises" href="{% url 'organizations_countries_group' object.pk %}" class="edit-link"><i class="fa fa-building"></i> </a>
						</li>
						<li>
							<a title="Ver lista de espera" href="{% url 'waitinglist_group' object.pk %}" class="edit-link"><i class="fa fa-clock-o"></i></a>
						</li>
						{% if perms.matricula.can_export_enrolled_group %}
							<li>
								<a title="Gestión del grupo" href="{% url 'list_students_group' object.pk %}" class="edit-link"><i class="fa fa-mortar-board"></i></a>
							</li>
						{% endif %}
						{% if perms.matricula.change_group %}
							<li>
								<a title="Editar grupo" href="{% url 'edit_group_enroll' object.pk %}" title="Editar grupo" class="edit-link"><i class="fa fa-edit"></i></a>
							</li>
						{% endif %}
						{% if perms.matricula.delete_group %}
							<li><a title="Eliminar grupo" data-url="{% url 'delete_group_enroll' pk=object.pk %}" title="Eliminar grupo" onclick="deleteitem(this)"><i class="fa fa-close"></i></a></li>
						{% endif %}
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<ul class="list-unstyled user_data">
								<li>
									<strong>Curso: </strong>
									<a href="#" data-toggle="tooltip" title="{{object.course}}">{{object.course|truncatechars:50}}</a>
								</li>
								<li>
									<strong>Inversión: </strong>{{object.cost}}
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<ul class="list-unstyled user_data">
								<li>
									<strong>Matriculades: </strong>
									{{object.get_label_enrolls}}
								</li>
								{% if group.is_paid %}
									<li>
										<strong>Moneda: </strong>{{object.currency}}
									</li>
								{% endif %}
							</ul>
						</div>
						<div class="col-md-12">
							<ul class="list-unstyled user_data">
								<li><strong>Periodo: </strong>{{object.period}}</li>
								<li>
									<strong>Rango matrícula: </strong>{{object.enroll_start}} - {{object.enroll_finish}}
								</li>
								<li>
									<strong>Rango pre-inscripción: </strong>{{object.pre_enroll_start}} - {{object.pre_enroll_finish}}
								</li>
								<li><strong>Flujo del curso: </strong>{{object.FLOWS|index:object.flow|index:1}}</li>
								{% if show_qualify_students_button and request.user.professor in object.professors.all %}
								<li><strong>Calificar estudiantes: </strong><a title="Calificar" href="{% url 'qualify_students' pk=object.pk %}"><i class="fa fa-check-square"></i></a></li>
								{% endif %}
								{% if perms.matricula.can_export_enrolled_group %}
									<li><strong>Exportar estudiantes: </strong>
										{% if object.is_paid %}
											{{object.enrolled_students_paid}}
										{% else %}
											{{ object.enrolled_students_free }}
										{% endif %}  <a title="Exportar estudiantes a moodle" href="{% url 'export_group' object.pk%}"><i class="fa fa-file-text-o"></i></a></li>
								{% endif %}
								{% if perms.matricula.can_view_pre_enroll_group %}
									<li><strong>Estudiantes pre-inscrites: </strong><a title="Lista de estudiantes pre-inscrites" href="{% url 'pre_enroll_group' object.pk%}"><i class="fa fa-filter"></i></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% empty %}
		<div class="alert alert-info" role="alert">
			{% trans 'There are not groups available' %}
		</div>
	{% endfor %}
			</div>
	<div class="clearfix"></div>
	<div class="paginator_container text-center">
		{% if is_paginated %}
			<ul class="pagination">
				{% if paginator.has_previous %}
					<li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in paginator.page_range %}
					{% if page_obj.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if paginator.has_next %}
					<li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
	<div class="clearfix"></div>
{% endblock %}
{% if perms.matricula.delete_group %}
	{% block js %}
		<script type="text/javascript">
			function deleteitem(element){

				$("#deleteitem").attr("href", $(element).data('url'));
				$("#modaldeleteitem").modal();

				return false
			}
		</script>
	{% endblock js%}
{% endif %}