{% extends 'gentelella/base.html'%}
{% load static utils membership_code %}
{%block extra_css%}
	<style>
		.dropdown-item {
			width: 100%;
			padding: 12px 20px; 
		}
		.dropdown-item {
			display: block;
			width: 100%;
			padding: .25rem 1.5rem;
			clear: both;
			font-weight: 400;
			color: #212529;
			text-align: inherit;
			white-space: nowrap;
			background-color: transparent;
			border: 0;
		}
		.panel_toolbox {
			float: right;
			min-width: 70px;
		}
		.panel_toolbox > li {
			float: left;
			cursor: pointer; 
		}
		.panel_toolbox > li > a {
			padding: 5px;
			color: #C5C7CB;
			font-size: 14px; 
		}

		.panel_toolbox > li > a:hover {
			background: #F5F7FA; 
		}

	</style>
{%endblock%}
{%block content %}
	<h1 class="text-center">Lista de estudiantes pre-inscrites</h1>
	<div class="col-md-10 col-sm-12 col-md-offset-1">
		<div class="x_panel">
			<div class="x_title">
				<h2 class="green">{{object.name}}</h2>
				<ul class="nav navbar-right panel_toolbox">
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form method="POST">
					<div class="table-responsive">
						{% csrf_token %}
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
								<th>
									<input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">Nombre Completo </th>
								<th class="column-title">Fecha de pre-inscripción</th>
								<th class="column-title">Para matricular</th>
								<th class="column-title">Matriculade</th>
								<th class="column-title">Factura Generada</th>
								<th class="column-title">Pago realizado</th>
								</th>
								<th class="bulk-actions" colspan="7">
									<a class="antoo" style="color:#fff; font-weight:500;">Acciones masivas ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
								</th>
								</tr>
							</thead>
							<tbody>
								{% for enroll in pre_enroll_list %}
									<tr class="{% cycle 'odd' 'even' %} pointer">
										<td class="a-center ">
											<input type="checkbox" value="{{enroll.pk}}" class="flat" name="students" data-id="{{enroll.student.pk}}">
										</td>
										<td class="">{{enroll.student}}</td>
										<td class="">{{enroll.enroll_date}}</td>
										<td class="">{% if enroll.enroll_activate%}Sí{% else %}No{% endif %}</td>
										<td class="">{% if enroll.enroll_finished%}Sí{% else %}No{% endif %}</td>
										<td class="">{% if enroll.bill_created %}Sí{% else %}No{% endif %}</td>
										<td class="">{% if enroll.bill.is_paid %}Sí{% else %}No{% endif %}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>	
					</div>
					<div class="text-center">
						<a class="btn btn-dark" href="{% url 'groups_enroll' %}">Atras</a>
						<a class="btn btn-success" id="assigncouponsbutton" title="Asignar cupones" data-toggle="modal" data-target="#assigncouponsmodal" style="display:none;">Asignar cupones</a>
						<input class="btn btn-primary" type="submit" name="action" value="Aperturar matrícula">
						<input class="btn btn-danger" type="submit" name="action" value="Rechazar pre-inscripción">
						<input class="btn btn-primary" type="submit" name="action" value="Agregar a lista de espera">
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<div class="paginator_container text-center">
		{% if is_paginated %}
			<ul class="pagination">
				{% if paginator.has_previous %}
					<li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in paginator.page_range %}
					{% if page_obj.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
						<li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if paginator.has_next %}
					<li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
				{% else %}
					<li class="disabled"><span>&raquo;</span></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
	<div class="clearfix"></div>
	<div id="assigncouponsmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="post">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Asignar cupones</h4>
		  </div>
		  <div class="modal-body">
			  {% csrf_token %}
			  <div class="form-group row">
				  <span class="col-sm-5">
					  <label for="id_discount_percentage">Porcentaje de descuento:</label>
				  </span>
				  <div class="col-sm-7 col-xs-12">
					  <select name="discount_percentage"  class="select2_single form-control " data-widget="Select" id="id_discount_percentage">
						  <option value="50">50</option>
						  <option value="100">100</option>
					  </select>
				  </div>
			  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			<button type="button" onclick="assign_coupons()" class="btn btn-primary">Asignar</button>
		  </div>
			</form>
		</div>
	  </div>
	</div>
{%endblock%}
{%block js%}
<script>
function assign_coupons(){

	var heads = [];
    $("thead").find("th").each(function () {
        if($(this).text().trim() === ""){
            heads.push("pk");
        }else{
            heads.push($(this).text().trim());
        }
    });

    var rows = [];
    $("tbody tr").each(function () {
      cur = {};
      $(this).find("td").each(function(i, v) {

        if(i === 0){
            cur[heads[i]] = $(this).children().children().data('id')
        }
      });
      rows.push(cur);
      cur = {};
    });


	$.ajax({
		url: "/enrrolment/coupons/{{object.pk}}/"+ $("#id_discount_percentage").val()+"/group/",
		type: "POST",
		data: JSON.stringify(rows),
		headers: {'X-CSRFToken': getCookie('csrftoken') },
		dataType : 'json',
		success: function() {
			$("#assigncouponsmodal").modal('hide');
			Swal.fire(
			  'Cupones',
			  'Se registraron y se notificó a los estudiantes éxitosamente.',
			  'success'
			)
		}
	});

}

// iCheck
$(document).ready(function () {
	if ($("input.flat")[0]) {
		$(document).ready(function () {
			$('input.flat').iCheck({
				checkboxClass: 'icheckbox_flat-green',
				radioClass: 'iradio_flat-green'
			});
		});
	}
});
// /iCheck

// Table
$('table input').on('ifChecked', function () {
	checkState = '';
	$(this).parent().parent().parent().addClass('selected');
	countChecked();
	$("#assigncouponsbutton").show();
});
$('table input').on('ifUnchecked', function () {
	checkState = '';
	$(this).parent().parent().parent().removeClass('selected');
	countChecked();
	$("#assigncouponsbutton").hide();
});

var checkState = '';

$('.bulk_action input').on('ifChecked', function () {
	checkState = '';
	$(this).parent().parent().parent().addClass('selected');
	countChecked();
});
$('.bulk_action input').on('ifUnchecked', function () {
	checkState = '';
	$(this).parent().parent().parent().removeClass('selected');
	countChecked();
});
$('.bulk_action input#check-all').on('ifChecked', function () {
	checkState = 'all';
	countChecked();
});
$('.bulk_action input#check-all').on('ifUnchecked', function () {
	checkState = 'none';
	countChecked();
});

function countChecked() {
	if (checkState === 'all') {
		$(".bulk_action input[name='students']").iCheck('check');
	}
	if (checkState === 'none') {
		$(".bulk_action input[name='students']").iCheck('uncheck');
	}

	var checkCount = $(".bulk_action input[name='students']:checked").length;

	if (checkCount) {
		$('.column-title').hide();
		$('.bulk-actions').show();
		$('.action-cnt').html(checkCount + ' Registros Seleccionados');
	} else {
		$('.column-title').show();
		$('.bulk-actions').hide();
	}
}

// Accordion
$(document).ready(function () {
	$(".expand").on("click", function () {
		$(this).next().slideToggle(200);
		$expand = $(this).find(">:first-child");

		if ($expand.text() == "+") {
			$expand.text("-");
		} else {
			$expand.text("+");
		}
	});
});

$(window).load(function() {
	$('.select2-container').width('100%');
});
</script>
{%endblock%}