{% extends 'gentelella/base.html'%}
{% load static %}
{% block content %}
	<h1 class="text-center">Lista de Espera por Grupo.</h1>
	<div class="row">
		<div class="col-md-10 col-md-offset-1" style="text-align:right">
			<a href="{% url 'export_waitinglist_group' object.pk %}" class="btn btn-info">Exportar Excel</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="x_panel">
				<div class="x_title">
					<h2 class="green">{{object}}</h2>
					<ul class="nav navbar-right panel_toolbox">
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<table class="table">
						<thead>
							<tr>
								<th>Estudiante</th>
								<th>Fecha</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for enroll in object.waitinglist_set.all %}
								<tr>
									<td>{{enroll.student}}</td>
									<td>{{enroll.created_at}}</td>
									<td><button type="button" class="btn btn-success enroll" id="{{enroll.student.pk}}" data-toggle="modal" data-target="#exampleModal">Matricular</button></td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="2">No hay estudiantes registrados en este grupo.</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form method="post">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						<h2 class="modal-title" id="exampleModalLabel">Finalizar matrícula</h2>
					</div>
					<div class="modal-body">
						{% csrf_token %}
						{{form.as_horizontal}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<input type="submit" class="btn btn-primary" value='Matricular' />
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		$(document).ready(function(){
			$("#id_group").select2({ width: '100%' });
			$("#id_student").select2({ width: '100%' });
			$(".enroll").click(function(){
				$("#id_student").val($(this).attr('id')).trigger('change');
			});
		});
	</script>
{% endblock %}