{% extends 'gentelella/base.html'%}
{% load i18n static %}
{% block content %}
	<h1 class="text-center">Lista de Categorías con Cursos Disponibles</h1>
	{% if request.user.is_authenticated and not request.user.student %}
		<form method="post" action="{% url 'add_student' %}">
			{% csrf_token %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<strong>Advertencia!</strong> Para tomar cursos usted debe tener rol de estudiante. 
				<button type="submit" class="btn btn-sm btn-primary">Crear</button>
			</div>
		</form>
	{% endif %}
	<div class="col-md-10 col-md-offset-1">
		{% if categories %}
		<div class="x_panel">
			<div class="x_content">
				<form method="GET" action="{% url 'course_list' %}">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.name %}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.category %}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.course %}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.is_paid %}
					</div>
					<div style="text-align:right">
						<a href="{% url 'course_list' %}" class="btn btn-dark">Limpiar</a>
						<button class="btn btn-success" type="submit">Buscar</button>
					</div>
				</form>
			</div>
		</div>
		{% else %}
			<div class="alert alert-info" role="alert">
				{% trans 'There are not courses available' %}
			</div>
		{% endif %}
	</div>
	<div id="group_message"> </div>
	<div class="row">
		{% for category in categories%}
			<div class="col-lg-4 col-md-6">
				<div class="x_panel" style="text-align:center;">
					<div style="height:110px; margin-top:10px;">
						{% if category.image %}
							<img src="{{category.image.url}}" style="width:auto; height:100%;" />
						{% endif %}
					</div>
					<div class="x_title" style="border-bottom: 0;">
						<a href="{% url 'courses' %}?cat={{category.pk}}" >
						<h4 class="text-center" style="font-size:20px; font-weight:bolder;">{{category.name}}</h4></a>
					</div>
					<div class="x_content">
						<p style="margin:5px;">{{category.description|truncatechars:100}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
