{% extends 'gentelella/base.html'%}
{% load static i18n utils %}
{% block content %}
	<h1 class="text-center">Detalles del Curso</h1>
	{% if request.user.is_authenticated and not request.user.student %}
		<form method="post" action="{% url 'add_student' %}">
			{% csrf_token %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<strong>Advertencia!</strong> Para tomar cursos usted debe tener rol de estudiante. 
				<button type="submit" class="btn btn-sm btn-primary">Crear</button>
			</div>
		</form>
	{% endif %}
	<div class="col-md-10 col-md-offset-1">
		<div class="x_panel">
			<div class="x_content">
				<form method="GET" action="{% url 'course_list' %}">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.course_name %}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.category %}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.course %}
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{% include 'field.html' with field=form_search.is_paid %}
					</div>
					<div style="text-align:right">
						<a href="{% url 'course_list' %}" class="btn btn-dark">Limpiar</a>
						<button class="btn btn-success" type="submit">Buscar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="group_message"></div>
	<div class="row">
		{% for group in course.groups%}
			<div class="col-md-6">
				<div class="x_panel" style="height:320px;">
					<div class="x_title">
						<h2 class="green">{{group.name}}</h2>
					</div>
					<div class="x_content">
						<div class="col-md-6">
							<strong>Curso: </strong>
							<a href="#" data-toggle="tooltip" title="{{group.course}}">{{group.course|truncatechars:100}}</a>
						</div>
						<div class="col-md-6">
							<strong>Categoría: </strong>{{group.course.category}}
						</div>
						<div class="col-md-6">
							<strong>Horario: </strong>{{group.schedule}}
						</div>
						{% if group.is_paid %}
							<div class="col-md-6">
								<strong>Inversión: </strong>{{group.cost}} {{group.currency}}
							</div>
						{% endif %}
						<div class='col-md-12'>
							<strong>Facilitadores: </strong>
							<ul style="list-style:none;">
								{% for i in group.professors.all %}
									<li><a title="Perfil del facilitador"  href="{% url 'professor_profile' i.pk %}" target="_blank">{{i}}</a></li>
								{% empty %}
									<li>No hay facilitadores asignados</li>
								{% endfor%}
							</ul>
						</div>
						<div class="col-md-12">
							<strong>Rango pre-inscripción: </strong>{{group.pre_enroll_start}} - {{group.pre_enroll_finish}}
						</div>
						<div class="col-md-12">
							<strong>Rango matriculación: </strong>{{group.enroll_start}} - {{group.enroll_finish}}
						</div>
						<div class="col-md-6 text-left">
							{% if group.is_paid %}
								<span class="badge bg-green">Curso pagado</span>
							{% else %}
								<span class="badge bg-blue">Curso gratis</span>
							{% endif %}
						</div>
						<div class="col-md-6 text-right">
							<a class="btn btn-link" href="{% url 'course_detail' group.course.pk %}">Ver temario</a>
							{% if request.user.is_authenticated and request.user.student %}
								{% if group.in_enrollment  %}
									{% can_enroll group request.user  as show_enroll %}
									{% if show_enroll or group.in_preenrollment and group.flow == group.AUTO_ENROLL  %}
									<a style="margin-botton:10px;" class="btn btn-primary btn-sm enrollme" data-href="{% url 'enrollme' group.pk%}"  data-ajax="true">
										{% trans 'Enroll me' %}
									</a>
									{% endif %}
								{% elif group.in_preenrollment %}
									{% if  group.flow == group.AUTO_ENROLL %}
										<a style="margin-botton:10px;" class="btn btn-primary btn-sm enrollme" data-href="{% url 'enrollme' group.pk%}"  data-ajax="true">
											{% trans 'Enroll me' %}
										</a>
									{% else %}
										<a style="margin-botton:10px;" class="btn btn-primary btn-sm enrollme" data-href="{% url 'enrollme' group.pk%}"  data-ajax="true">
											{% trans 'Pre-enroll me' %}
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if group.in_enrollment and group.flow == group.AUTO_ENROLL  %}
									<a style="margin-botton:10px;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#showModal">
										{% trans 'Enroll me' %}
									</a>
								{% elif group.in_preenrollment %}
									<a style="margin-botton:10px;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#showModal">
										{% trans 'Pre-enroll me' %}
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}?v={% get_version %}"></script>
	<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}?v={% get_version %}"></script>
{% endblock %}