{% extends 'gentelella/base.html'%}
{% load i18n static %}
{% load utils matriculabase %}
{% block extra_css %} 
	<link href="{% static 'css/matricula.css' %}?v={% get_version %}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="row">
		<h1 class="text-center">Lista de Cursos Disponibles</h1>
		{% if request.user.is_authenticated and not request.user.student %}
			<form method="post" action="{% url 'add_student' %}">
				{% csrf_token %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<strong>Advertencia!</strong> Para tomar cursos usted debe tener rol de estudiante. 
					<button type="submit" class="btn btn-sm btn-primary">Crear</button>
				</div>
			</form>
		{% endif %}
		{% if professor and show_info_modal %}
			<div class="col-md-10 col-md-offset-1">
				<div class="alert alert-info">
					Es necesario llenar información sobre el rol profesor en su perfil. <a type="button" class="btn btn-success" href="{% url 'profile' %}">Ir</a>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		{% endif %}
		<div class="col-md-10 col-md-offset-1">
			{% if category %}
			<div class="col-md-3 ">
				<div class="x_panel">
						<div class="x_content text-center">
					{% if category.image %}
						<img src="{{category.image.url}}" style="width:auto; height:80px;" />
					{% endif %}<br>

						</div>
					<div class="x_title" style="border-bottom: 0;">
						<h4 class="text-center" style="font-size:20px; font-weight:bolder;">{{category.name}}</h4>
					</div>
				</div>
				 </div>
			<div class="col-md-9">
			{% endif %}

			{% if courses.items %}
				<div class="x_panel">
					<div class="x_content">
						<form method="GET" action="{% url 'course_list' %}">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.course_name %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.category %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.course %}
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{% include 'field.html' with field=form_search.is_paid %}
							</div>


							<div style="text-align:right">
								<a href="{% url 'course_list' %}" class="btn btn-dark">Limpiar</a>
								<button class="btn btn-success" type="submit">Buscar</button>
							</div>

						</form>
					</div>
				</div>
			{% else %}
				<div class="alert alert-info" role="alert">
					No hay cursos disponibles
				</div>
			{% endif %}
			{% if category %} </div>{% endif %}

		</div>
		<div id="group_message"></div>
		<div class="clearfix"></div>
		{% if courses.items %}
		<div class="x_panel">
			<div class="x_content">

				{% for pk, course in courses.items %}
					<div class="col-md-6 col-sm-12 profile_details">
						<div class="well profile_view" style="display:block;">
							<div class="col-md-12">
								<a href="{% url 'course_detail' pk=course.course.pk %}" title="Ver detalle del curso"><h3 class="green">{{course.course.name}}</h3></a>
								<div>
									{{course.course.content|striptags|truncatechars:100|safe}}
								</div>
							</div>
							<div class="profile-bottom">
								<div class=" col-md-6">
									<strong>Grupos registrados: </strong>{{course.groups|length}}
								</div>
                                    <div class=" col-sm-6" style="text-align:right;">
                                        {% if course.course|is_open %}
                                        <a class="btn btn-link btn-lg green" href="{% url 'course' course.course.pk%}">
                                            <i class="fa fa-eye"> </i> Ver Grupos...
                                        </a>
                                        {% else %}
                                         <a disabled="true" class="btn btn-link btn-lg green">
                                            No hay grupos abiertos...
                                        </a>
                                        {% endif %}
                                    </div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/ajax_fragments.js' %}?v={% get_version %}"></script>
{% endblock %}
