{% extends 'gentelella/base.html'%}
{% load i18n %}
{% block content %}
	{% if student %}
		<h1 class="text-center">{% trans 'Cursos prematriculados sin matricula activa' %}</h1>
		<div class="x_panel">
			{% for enroll in list_pre%}
				<div class="x_panel">
					<!-- end of user messages -->
					<ul class="messages">
						<li>
							<div class="message_date">
								<a class="btn-sm btn-warning" disabled href="#">
									{% trans 'Matricula no disponible' %}
								</a>
							</div>
							<div style="margin-left:0" class="message_wrapper">
								<h4 class="heading green">{{enroll.group }}</h4>
								<blockquote class="message">{{enroll.group.course.content|striptags|truncatechars:300|safe}}</blockquote>
								<br />
							</div>
							<div class="clearfix"></div>
						</li>
					</ul>
					<!-- end of user messages -->
				</div>
			{% empty %}
				<div class="alert alert-info text-center" role="alert">
					{% trans "No tiene cursos prematriculados"%} 
				</div>
			{% endfor %}
		</div>
		<h1 class="text-center">{% trans 'Cursos prematriculados con matricula activa' %}</h1>
		<div class="x_panel">
			{% for enroll in list_enroll%}
				<div class="x_panel">
					<!-- end of user messages -->
					<ul class="messages">
						<li>
							<div class="message_date">
								<a class="btn-sm btn-primary" href="{% url 'finish_enroll' enroll.pk %}">
									{% trans 'Enrollme' %}
								</a>
							</div>
							<div style="margin-left:0" class="message_wrapper">
								<h4 class="heading green">{{enroll.group }}</h4>
								<blockquote class="message">{{enroll.group.course.content|striptags|truncatechars:300|safe}}</blockquote>
								<br />
							</div>
							<div class="clearfix"></div>
						</li>
					</ul>
					<!-- end of user messages -->
				</div>
			{% empty %}
				<div class="alert alert-info text-center" role="alert">
					{% trans "No tiene cursos prematriculados"%} 
				</div>
			{% endfor %}
		</div>
	{% else %}
		{% if request.user.is_authenticated and not request.user.student %}
			<form method="post" action="{% url 'add_student' %}">
				{% csrf_token %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<strong>Advertencia!</strong> Para tomar cursos usted debe tener rol de estudiante. 
					<button type="submit" class="btn btn-sm btn-primary">Crear</button>
				</div>
			</form>
		{% endif %}
	{% endif %}
	{% if student %}
		<h1 class="text-center">{% trans "Enrolled courses"%}</h1>
		<div class="x_panel">
			{% for enroll in finished_enroll%}
				<div class="x_panel">
					<!-- end of user messages -->
					<ul class="messages">
						<li>
							<div style="margin-left:0" class="message_wrapper">
								<h4 class="heading green">{{enroll.group }}</h4>
								<blockquote class="message">{{enroll.group.course.content|striptags|truncatechars:300|safe}}</blockquote>
								<br />
							</div>
						</li>
					</ul>
					<!-- end of user messages -->
				</div>
			{% empty %}
			<div class="alert alert-info text-center" role="alert">
				{% trans "You don't have any enrolled courses"%}
			</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}