<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td valign="top" class="specbundle">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" align='center'>
                    <p  style='text-align:center;color:#000;font-size:12px;font-weight:normal;line-height:20px;'>
                        <span style='font-weight:bold;'>Universidad Popular</span>
                        <br>
                        Correo electrónico: secretaria@universidadpopular.red<br>
                        Teléfono (Wire, Telegram, Whatsapp, Signal): +506 8569 1676<br>
                        Canal Telegram: <a target='_blank' href="https://t.me/CanalResistenciaDigital">https://t.me/CanalResistenciaDigital</a><br>
                        Web: <a target='_blank' href="https://universidadpopular.red">https://universidadpopular.red/</a><br>
                        <br>
                    </p>
                    </div>
                </div>
                </td>
                <td valign="top" width="30" class="specbundle">&nbsp;</td>
                <td valign="top" class="specbundle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            </tbody>
        </table>
    </td>
</tr>