{% extends 'gentelella/base.html'%}
{% load i18n %}
{% block content%}
	<div class="col-md-10 col-md-offset-1">
		<div class="text-center">
			<h1>{% trans 'Password recovery' %}</h1>
		</div>
		<div class="text-center">
			<div class="x_panel">
				<div class="x_title">
					<h2 class="green">{% trans 'User' %}: {{student.user.username}}</h2>
					<ul></ul>
					<div class="clearfix"></div>
				</div>
				<form method="post" action="{% url 'recover_password'%}" >
					<div class="form-group">
						{% csrf_token %}
						<label>{% trans 'Password' %}:</label>
						<input type="hidden" name="id" value="{{student.pk}}">  
						<input type="hidden" name="key" value="{{student.key}}">
						<input type="password" class="form-control" name='password' placeholder="{% trans 'New Password' %}">
						<button type="submit" style="margin-top:10px;" class="btn btn-primary">{% trans 'Change password' %} </button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}