{% extends 'gentelella/base.html'%}
{% load i18n %}
{% block content%}
	<div class="col-md-10 col-md-offset-1">
		{% if form %}
			<div class="text-center">
				<h1>{% trans 'Password recovery' %}</h1>
			</div>
			<div class="text-center">
				<div class="x_panel" style="max-width:800px;">
					<div class="x_title">
						<h2 class="green">{% trans 'User' %}: {{student.user.username}}</h2>
						<ul></ul>
						<div class="clearfix"></div>
					</div>
					<form method="post">
						<div class="form-group" style="text-align:left;">
							{% csrf_token %}
							{{form.as_horizontal}}
							<div style="text-align:right;">
								<button type="submit" style="margin-top:10px;" class="btn btn-primary">{% trans 'Change password' %} </button>
							</div>
						</div>
					</form>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		$(document).ready(function(){
			$("#id_password").after("<input type='checkbox' onclick='myFunction()'>{% trans 'Show password' %}<br/>");
		});
		function myFunction() {
			var x = document.getElementById("id_password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
{% endblock %}