{% extends 'gentelella/base.html'%}
{% load static i18n %}
{% block content %}
	<h1 class="text-center">{% trans 'New user' %}</h1>
	<div class="col-md-8 col-md-offset-2">
		<div class="x_panel">
			<div class="x_title">
				<h2 class="green"> {% trans 'Your data' %}</h2>
				<ul></ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div>
						<form method="post" id="{% url 'create_user' %}">
								{% csrf_token %}
								{{form.as_horizontal}}
							<div style="margin-top:10px; text-align:right;">
								<button type="submit" class="btn btn-success" value="{% trans 'Save'%}" >
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {% trans 'Save'%}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		var input = document.querySelector('#id_organization'),
		tagify = new Tagify(input, {whitelist:[]}),
		controller; // for aborting the call
		// listen to any keystrokes which modify tagify's input
		tagify.settings.maxTags=1
		tagify.on('input', onInput)
		tagify.on('add', onAdd)
		function onAdd(e){
			input.value=e.detail.data.value
		}
		function onInput( e ){
			var value = e.detail.value;
			tagify.settings.whitelist.length = 0; // reset the whitelist

			// https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
			controller && controller.abort();
			controller = new AbortController();

			// show loading animation and hide the suggestions dropdown
			tagify.loading(true).dropdown.hide.call(tagify)

			fetch("/gtapis/student/?q="+e.detail.value, {signal:controller.signal})
				.then(RES => RES.json())
				.then(function(whitelist){
				// update inwhitelist Array in-place
				var whitelst = []
				for(var i=0; i<whitelist.total_count; i++){
					whitelst.push(whitelist.results[i].text)
				}
				tagify.settings.whitelist.splice(0, whitelist.total_count, ...whitelst)
				tagify.loading(false).dropdown.show.call(tagify, value); // render the suggestions dropdown
			})
		}
		$(document).ready(function(){
			$("#id_password").after("<input type='checkbox' onclick='myFunction()'> {% trans 'Show password' %}<br/>");
		});
		function myFunction() {
			var x = document.getElementById("id_password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
{% endblock %}