{% extends 'gentelella/base.html'%}
{% load static i18n %}
{%block content%}
	<h1 class="text-center">Registro de usuarios</h1>
	<div class="col-md-8 col-md-offset-2">
		<div class="x_panel">
			<div class="x_title">
				<h2 class="green"> {% trans 'Your data' %}</h2>
				<ul></ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div>
						<form method="post" id="{% url 'create_user' %}">
								{% csrf_token %}
								{{form.as_table}}
							<div style="margin-top:10px; text-align:right;">
								<button type="submit" class="btn btn-success" value="Save" >
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Registar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
{% block js %}
	<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
{% endblock %}