
body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin:0 !important;
    width: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
}
.tableContent img {
    border: 0 !important;
    display: block !important;
    outline: none !important;
}
a{
    color:#000080;
}

p, h1{
    color:#382F2E;
    margin:0;
}
p{
    text-align:left;
    color:#000000;
    font-size:14px;
    font-weight:normal;
    line-height:19px;
}

a.link1{
    color:#382F2E;
}
a.link2{
    font-size:16px;
    text-decoration:none;
    color:#ffffff;
}

h2{
    text-align:left;
    color:#222222;
    font-size:19px;
    font-weight:normal;
}

div,p,ul,h1{
    margin:0;
}

.bgBody{
    background: #ffffff;
}
.bgItem{
    background: #ffffff;
}

@media only screen and (max-width:480px) {
    table[class="MainContainer"], td[class="cell"]{
        width: 100% !important;
        height:auto !important;
    }
    td[class="specbundle"]{
        width:100% !important;
        float:left !important;
        font-size:13px !important;
        line-height:17px !important;
        display:block !important;
        padding-bottom:15px !important;
    }

    td[class="spechide"]{
        display:none !important;
    }
    img[class="banner"]{
        width: 100% !important;
        height: auto !important;
    }
    td[class="left_pad"]{
        padding-left:15px !important;
        padding-right:15px !important;
    }
}

@media only screen and (max-width:540px){
    table[class="MainContainer"], td[class="cell"]{
        width: 100% !important;
        height:auto !important;
    }

    td[class="specbundle"]{
        width:100% !important;
        float:left !important;
        font-size:13px !important;
        line-height:17px !important;
        display:block !important;
        padding-bottom:15px !important;
    }

    td[class="spechide"]{
        display:none !important;
    }
    img[class="banner"]{
        width: 100% !important;
        height: auto !important;
    }
    .font {
        font-size:18px !important;
        line-height:22px !important;
    }
    .font1 {
        font-size:18px !important;
        line-height:22px !important;
    }
}