.x_footer{
    border: 1px solid #E6E9ED;
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
    line-height: 4em;
    padding-left: 20px;
}

.paginator_container{
    margin: 0 auto !important;
    text-align: center !important;
}

.search_options .buttons{
    text-align: right;
    padding-right: 100px;
}

.panel_toolbox{
    min-width: unset !important;
}

.x_panel{
    border-top: 4px solid #E6E9ED;
}

.expired_membership{
    border-top: 4px solid #FF7F7F !important;
}
