.x_footer{
    border: 1px solid #E6E9ED;
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0;
    line-height: 4em;
    padding-left: 20px;
}

.paginator_container{
    margin: 0 auto !important;
    text-align: center !important;
}

.search_options .buttons{
    text-align: right;
}

.panel_toolbox{
    min-width: unset !important;
}

.expired_membership{
    border-top: 4px solid #FF7F7F !important;
}

.inactive_membership{
    opacity: 0.5 !important;
}

.inactive_contact{
    opacity: 0.5 !important;
}

.telegram_icon {
    color: #0088cc;
}
#membership_form{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

#membership_form .row{
    margin-top: 20px !important;
}

.form-inline > .form_control_group {
    margin-right: 20px;
}

#membership_form .formset.row{
    margin-top:0 !important;
}

#membership_form form{
    border: 1px solid #E6E9ED;
    padding: 10px;
    margin-bottom: 20px;
}

.formset .x_content{
    display: none;
}

.margin_xs{
    margin-bottom: 10px;
}

.inactive_template{
    border-top: 4px solid #dc3545 !important;
}

.active_template{
    border-top: 4px solid rgba(38,185,154,0.88) !important;
}

.grace_period_template{
    border-top: 4px solid #ffc107 !important;
}
.description > p{
    text-align: left !important;
}