{% extends 'gentelella/base.html'%}
{% load membership_code static %}
{%block content%}
	<h1 class="text-center">Cursos</h1>
	<div class="row">
		{% if perms.matricula.add_course %}
			<div class="col-sm-12 col-md-8 col-md-offset-2">
		{% else %}
			<div class="col-sm-12 col-md-10 col-md-offset-1">
		{% endif %}
			<div class="x_panel">
				<div class="x_content">
					<form method="GET" action="{% url 'enrrolment_courses'%}">
						<div class="col-lg-6 col-md-6 col-sm-12">
							{% include 'field.html' with field=form_search.name %}
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							{% include 'field.html' with field=form_search.category %}
						</div>
						<div class="text-right">
							<a style="margin-top:10px;" href="{% url 'enrrolment_courses' %}" class="btn btn-dark">Limpiar</a>
							<button style="margin-top:10px;" class="btn btn-success" type="submit">Buscar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-2 col-md-3">
			{% if perms.matricula.add_course %}
				<a class="btn btn-primary" href="{% url 'create_course' %}">Crear curso</a>
			{% endif %}
		</div>
	</div>
		{% if perms.matricula.delete_course %}
			<!-- modal delete category -->
			<div id="modaldeleteitem" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">¿Está segura que desea eliminar este curso?</h4>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
							<a class="btn btn-danger" id="deleteitem">Eliminar</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end delete modal-->
		{% endif %}
		{% for course in object_list %}
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
				<div class="x_panel" style="height:175px;word-break: break-all;">
					<div class="x_title">
						<h2 class="green">{{course.category.name|wordwrap:20}}</h2>
						<ul class="nav navbar-right panel_toolbox" style="min-width: unset;">
							{% if perms.matricula.change_course %}
								<li>
									<a href="{% url 'edit_course' course.pk %}" class="edit-link"><i class="fa fa-edit"></i></a>
								</li>
							{% endif %}
							{% if perms.matricula.delete_course %}
								<li><a data-url="{% url 'delete_course' pk=course.pk %}" onclick="deleteitem(this)"><i class="fa fa-close"></i></a></li>
							{% endif %}
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<ul class="list-unstyled user_data">
							<li>
								<strong>Curso: </strong>{{course.name}}
							</li>
							<li>
								<strong>Contenido: </strong>{{course.content|safe|striptags|truncatechars:200}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
		<div class="paginator_container text-center">
			{% if is_paginated %}
				<ul class="pagination">
					{% if paginator.has_previous %}
						<li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
					{% else %}
						<li class="disabled"><span>&laquo;</span></li>
					{% endif %}
					{% for i in paginator.page_range %}
						{% if page_obj.number == i %}
							<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
						{% else %}
							<li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}
					{% if paginator.has_next %}
						<li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
					{% else %}
						<li class="disabled"><span>&raquo;</span></li>
					{% endif %}
				</ul>
			{% endif %}
		</div>
	</div>
{%endblock%}
{% if perms.matricula.delete_course %}
	{% block js %}
		<script type="text/javascript">
			function deleteitem(element){
				$(function(){
					$("#deleteitem").attr("href", $(element).data('url'));
					$("#modaldeleteitem").modal();
				});
				return false
			}
		</script>
	{% endblock js%}
{% endif %}