{% extends 'gentelella/base.html' %}
{% load membership_code %}
{% load static %}
{% load organization_payment_method %}
{% block extra_css %}
    <link href="{% static 'css/membership.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    
    <h1 class="text-center">Organizaciones</h1>
    <div class="search_options">
        <div class="row">
            {% if not perms.membership_manager.add_organization %}
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    {% else %}
                    <div class="col-md-10">
                        {% endif %}
                <div class="x_panel">
                    <form method="GET">
                    <div class="row">
                        <div class="col-md-6">
                            {% include 'field.html' with field=formsearch.organization  %}
                        </div>
                        <div class="col-md-6">
                            {% include 'field.html' with field=formsearch.countries  %}
                        </div>
                    </div>
                    <br/>
                    <div style="text-align:right;">
                        <a href="{% url 'organizations' %}" class="btn btn-dark">Limpiar filtros</a>
                        <button class="btn btn-success" type="submit">Buscar</button>
                    </div>
                    </form>
                </div>
            </div>
                    {% if perms.membership_manager.add_organization %}
            <div class="col-md-2">
                <div class="buttons">
                    <a href="{% url 'create_organizations' %}" class="btn btn-primary">Nueva organización</a>
                </div>
            </div>
                    {% endif %}
        </div>
    </div>
    {% if perms.membership_manager.delete_organization %}
        <!-- modal delete organization -->
        <div id="modaldeleteorganization" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Al eliminar esta organización todos sus elementos relacionados(membresías, facturas, etc) serán eliminados también. Es recomendable que en lugar de eliminar esta organización, la desactive.</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-success" id="deactivateorganization">Desactivar</a>
                        <a class="btn btn-danger" id="deleteorganization">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end delete modal-->
    {% endif %}
    <div class="row contact_cards">
        {% for organization in object_list %}
            <div class="col-md-3 widget widget_tally_box">
                <div class="x_panel fixed_height_390 {% if not organization.active %}inactive_contact{%endif%}">
                    <div class="x_title">
                        <h2>
                            <span title="{{ organization.country.name }}" class="{{ organization.country.flag }}"></span>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            {% if perms.membership_manager.change_organization %}
                                <li><a title="Editar organización" href="{% url 'edit_organizations' pk=organization.pk %}" class="edit-link"><i class="fa fa-edit"></i></a></li>
                            {% endif %}
                            {% if perms.membership_manager.delete_organization %}
                                <li><a title="Eliminar organización" data-url="{% url 'delete_organizations' pk=organization.pk %}" data-href="{% url 'deactivate_organization' pk=organization.pk %}" onclick="deleteorganization(this)"><i class="fa fa-close"></i></a></li>
                            {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4><b>Nombre: {% if organization %} {{organization|title}} {% else %} Sin especificar {% endif %}</b></h4>
                        <div style="text-align: left; margin-bottom: 15px;">
                            <h4>Información:</h4>
                        </div>
                        <div>Correo: {% if organization.email %} {{organization.email}} {% else %} Sin especificar {% endif %}</div>
                        <div>Teléfono: {% if organization.phone %} {{organization.phone}} {% else %} Sin especificar {% endif %}</div>
                        <div>Celular: {% if organization.cellphone %} {{organization.cellphone}} {%else%} Sin especificar {% endif %}</div>
                        <div>Estado: {% if organization.active%} Activa {%else%} Inactiva {% endif %}</div>
                        <div>Moneda: {% if organization.currency %} {{organization.currency}} {%else%} Sin especificar {% endif %}</div>
                        {% get_payment_method organization.payment_method as payment_method %}
                        <div>Método de pago: {% if organization.payment_method %} {{payment_method}} {%else%} Sin especificar {% endif %}</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_footer">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="paginator_container">
        {% if is_paginated %}
            <ul class="pagination">
                {% if paginator.has_previous %}
                    <li><a href="?{% url_replace request 'page' paginator.previous_page_number %}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.has_next %}
                    <li><a href="?{% url_replace request 'page' paginator.next_page_number %}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    </div>
{% endblock content %}
{% block js %}
<script>
function deleteorganization(element){
    $("#deleteorganization").attr("href", $(element).data('url'));
    $("#deactivateorganization").attr("href", $(element).data('href'));
    $("#modaldeleteorganization").modal();
}
</script>
{% endblock js%}