{% extends 'gentelella/base.html' %}
{% load i18n %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
    <div class="main_container">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1>{% trans 'Password reseted' %}</h1>
                    <p>{% trans "The password has been reset successfully." %}</p>
                    <br>
                    <a class="btn btn-sm btn-primary" href="{% url 'root' %}"> {% trans 'Go to home' %}</a>
                    <a class="btn btn-sm btn-success" href="{% url 'login' %}"> {% trans 'Log In' %}</a>
                    {% include 'gentelella/registration/footer.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}