{% extends 'gentelella/registration/email_base.html' %}
{% load i18n static %}

{% block content %}
    <tr>
        <td>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td valign="top" align="center" class="specbundle"><div class="contentEditableContainer contentTextEditable">
                                                <img src="{{ protocol }}://{{domain}}{% static 'logo-upo.png' %}" style="max-width: 300px; height: auto; " alt='Logo' />
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="text-align:center;">¡Hola {{user.get_full_name}}!</h2>
            <br>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align: justify;text-justify: inter-word; max-width:600px; margin:0 auto;>
                <h3>{% blocktrans %}Reseting password at UPo{% endblocktrans %}</h3>
                <br>
                <p>
                    {% trans 'Use the follow link to reset the password in the platform' %}
                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}" >
                    {% trans 'Here' %} </a>
                </p>
            <p>
                {% trans "This email was send because someone try to reset your password, if you didn't request a reset, please delete this email and do not more actions." %}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align:center">
                <br><br>
                ¡Muchas gracias por tu confianza!<br/>
                ¡Abrazos solidarios de todo el equipo!
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td  style='border-bottom:1px solid #DDDDDD;'></td>
                    </tr>
                    <tr><td height='25'></td></tr>
                    {% include 'footer_email.html' %}
                    <tr><td height='88'></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
{% endblock %}