{% extends 'gentelella/base.html' %}
{% load i18n static gtsettings %}
{% block extra_css %}
    <link href="{% static 'css/matricula.css' %}" rel="stylesheet">
{% endblock %}
{% block body_class %}login{% endblock body_class %}
{% block body %}
    <div>
        <div class="login_wrapper">
            {% if validlink %}
                <form method="post" action=".">
                    <div class="animate form login_form">
                        <section style="padding:0;" class="login_content">
                            <h1>{% trans 'Password change' %}</h1>
                            {% csrf_token %} 
                            <div style="text-align:left;">{{ form.as_p }}</div>
                        </section>
                        <div style="text-align:center;">
                            <input type="submit" value="{% trans 'Submit' %}" />
                        </div>
                        <div style="text-align:center;" class="separator">
                            {% get_settings 'site_logo' %}
                            <p>©{% now "Y" %} {% trans "All Rights Reserved." %} </p>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>{% trans "Password reset failed" %}</p>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            $('input[type="password"]').addClass('form-control');
            $('input[type="submit"]').addClass('btn btn-default');
            $('#id_new_password2').parent().hide();
            $('#id_new_password2').attr('required',false);
            $("#id_new_password1").after("<input type='checkbox' id='show_password' onclick='myFunction()'> Mostrar contraseña<br/>");
            $('#show_password').parent().css({'text-align':'left', "margin-bottom":"5px"});
            $('#id_new_password2').attr('autocomplete','id_password2')
            $('#id_new_password1').on('input', function(e){
                $('#id_new_password2').val($(this).val());
            })
        });
		function myFunction() {
			var x = document.getElementById("id_new_password1");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
    </script>
{% endblock %}