{% extends 'gentelella/base.html'%}
{% load static %}
{%block content%}
	<h1 class="text-center">Matrículas</h1>
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div class="x_panel">
				<form method="POST" autocomplete="off">
					{% csrf_token %}
					<div class="x_title">
						<h2 class="green">Editar Matrícula</h2>
						<ul class="nav navbar-right panel_toolbox">
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						{{form.as_horizontal}}
					</div>
					<div class="text-center">
						<a class="btn btn-dark" href="{% url 'enrolls' %}">Cancelar</a>
						<input class="btn btn-primary" value="Guardar" type="submit"/>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-3">
			<div class="x_panel">
				<div class="x_title">
					<h2 class="green">Indicaciones Importates</h2>
					<ul class="nav navbar-right panel_toolbox">
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<ul>
						<li>
							Si rechaza una pre-matrícula, los campos "Matrícula Finalizada", 
							"Activo para Matrícula" y "Beca Completa" serán desactivados.
						</li>
						<li>
							Los campos "Beca completa" y "Matrícula Rechazada" son excluyentes y 
							no se deben activar ambos a la vez.
						</li>
						<li>
							El campo "Matrícula Rechazada" no se debe activar junto a ningún otro campo.
						</li>
						<li>
							Para dar becas a los estudiantes debe activar los campos "Beca Completa" y "Matrícula Finalizada", además
							deberá asegurarse que el campo "Matrícula Rechazada" no este activado.
						</li>
					<ul>
				</div>
			</div>
		</div>
	</div>
{%endblock%}