{% extends "admin/change_list.html" %}

<!-- LOADING -->
{% load i18n  admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/payments.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/base/jquery-ui.css">

  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}
{% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
            &rsaquo; <a href="{% url 'admin:membership_manager_membership_changelist'%}">Gestion de {{ cl.opts.app_config.verbose_name }}</a>
            &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
        </div>
{% endblock %}
<!-- CONTENT -->
{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}
{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}


{% block coltype %}flex{% endblock %}

{% block content %}
    <div class="module filtered" id="changelist">
        {% block filters %}
            <div id="changelist-filter">
                <h2>{% trans "Filter" %}</h2>
                <h3>{% trans "Search by state" %}:</h3>
                <ul>
                    <li>
                        <form action="" method="post">
                            {% csrf_token %}
                            <ul>
                                <li>
                                    <div style="float: left">
                                        {{ form.option }}
                                    </div>
                                </li>
                                <li>
                                    <div style="float: left; margin-left: 15px">
                                       <input type="submit" class="" value="{% trans "filter" %}">
                                   </div>
                                </li>
                            </ul>
                       </form>
                    </li>
                </ul>
            </div>
        {% endblock %}

        <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
            {% block result_list %}
             <div class="results">
             {% if object_list %}
                 {% for temp in object_list %}
                     <div class="item-collapse">
                     <h2> &laquo; <a style="text-decoration: none;font-weight: bold;color: #fff;" href="{% url 'admin:membership_manager_invoice_changelist'%}?membership__id__exact={{temp.pk}}">{{temp.name|capfirst}}</a> &raquo; <span>Pendiente: {{temp.pending}}</span> &mdash; <span>Total Pagado: {{temp.paid}}</span></h2>
                     <div>
                     <h3>Facturas:</h3>
                     <div class="changelist-results" style="margin-bottom: 40px">
                   {% if temp.no_results %}
                       <header><h1  style="padding: 20px 15px ;font-weight: normal">{{temp.no_results}} {{ temp.filter_option }}</h1></header>
                   {% else %}
                       <table id="result_list" class=""  style="">
                       <thead>
                           <tr class="row2">
                               <th scope="col" class="action-checkbox-column">
                                   <div class=""><span> - </span></div>
                               </th>
                               <th scope="col" class="sortable column-membership">
                                   <div class="text"><a href="?o=1">{% trans "Membership" %}</a></div>
                               </th>
                               <th scope="col" class="sortable column-expiration_date">
                                   <div class="text"><a href="?o=2">{% trans "Expiration date" %}</a></div>
                               </th>
                               <th scope="col" class="sortable column-amount">
                                   <div class="text"><a href="?o=3">{% trans "Amount" %}</a></div>
                               </th>
                               <th scope="col" class="sortable column-currency">
                                   <div class="text"><a href="?o=4">{% trans "Currency" %}</a></div>
                               </th>
                               <th scope="col" class="sortable column-status">
                                   <div class="text"><a href="?o=5">{% trans "State" %}</a></div>
                               </th>
                               <th scope="col" class="sortable column-payment_date">
                                   <div class="text"><a href="?o=6">{% trans "Payment date" %}</a></div>
                               </th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for obj in temp.results %}
                               <tr class="row1">
                                   <td class="action-checkbox">
                                       <a href="{% url "admin:membership_manager_invoice_change" obj.pk %}">{% trans "Show more" %}</a>
                                   </td>
                                   <th class="field-membership nowrap">
                                       {{ obj.membership.name }}
                                   </th>
                                   <td class="field-expiration_date nowrap">{{ obj.expiration_date }}</td>
                                   <td class="field-amount">{{ obj.amount }}</td>
                                   <td class="field-currency nowrap">{{ obj.currency }}</td>
                                   <td class="field-status">{{obj.status}}</td>
                                   <td class="field-payment_date nowrap">
                                       {% if obj.expiration_date %}
                                           {{ obj.expiration_date }}
                                       {% else %}
                                           -
                                       {% endif %}
                                   </td>
                               </tr>
                           {% endfor %}
                       </tbody>
                       </table>
                    {% endif %}
                   </div>
                     <a style="font-weight: bold;" href="{% url 'admin:membership_manager_membership_change' temp.pk%}">{% trans "Show more information" %}</a>
                     </div>
                     </div>
                   {% endfor %}
             {% endif %}
        {% endblock %}
      </form>
    </div>

    <script type="text/javascript" src="/static/ajax_select/js/bootstrap.js"></script>
<script src="{% static 'js/collapse.js' %}"></script>

<link href="/static/ajax_select/css/ajax_select.css" type="text/css" media="all" rel="stylesheet">

{% endblock %}
