


<div id="content" >
	<br>
	<div >
		<center>
			<p>
				Academica {{ enrollment.group.enroll_finish.year }}
				otorga el presente <strong>certificado de aprobación</strong> a:
			</p>
			<h1 style="color:#709f2c; font-size: 3em">{{ enrollment.student.user.get_full_name }}</h1>

			<p>
				Por su destacada participación en el curso {{ enrollment.group }}.
			</p>
			<br>
			<p>
				Dado en la ciudad de San José, Costa Rica, el dia {{now}}
			</p>

		</center>
	</div>
	<div style="font-size: 1em;">
		<br><br>
		<center>
			<table>
				<tr>
					<td>_______________________</td>
					<td>_______________________</td>
				</tr>
				<tr>
					<td>Nombre </td>
					<td>{{ enrollment.group.professors.first}}</td>
				</tr>
				<tr>
					<td>Directora del programa de Cursos</td>
					<td>Facilitadore</td>
				</tr>
			</table>
		</center>
	</div>
</div>
