{% extends 'gentelella/base.html'%}
{% load i18n %}
{% block extra_css %}
	<style>
		.profile_title{
			margin: 5px;
			padding: 5px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h3 class="green">{% trans 'User profile' %}</h3>
			<div class="x_panel">
				<form method="post" action="{% url 'myprofile' request.user.pk%}" >
					{% csrf_token %}
					<div>
						{{form.as_table}}
						{% if request.user.student %}
							{{student_form.as_table}}
						{% endif %}
						{% if request.user.professor %}
							{{professor_form.as_table}}
						{% endif %}
					</div>
					<div class="text-right" style="margin-top:5px;">
						<a class="btn btn-dark" href="{% url 'home' %}">{% trans 'Inicio' %}</a>
						<button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-6">
			<h3 class="green">{% trans 'Pre-enrolled courses' %}</h3>
			<div class="x_panel">
				{% for pre in pre_enroll%}
					<div class="profile_title">
						<h2><a href="{% url 'course_detail' pre.group.course.pk %}">{{pre.group}}</a></h2>
					</div>
				{% empty %}
					<div style="margin:5px; padding:5px;" class="profile_title"> 
						<h2>
							{% trans "You don't have courses pre-enrolled" %}
						</h2>
					</div>
				{% endfor%}
			</div>
			<h3 class="green"> {% trans 'Enrolled courses' %}</h3>
			<div class="x_panel">
				{% for en in enroll%}
					<div style="margin:5px; padding:5px;" class="profile_title">
						<h2><a href="{% url 'course_detail' en.group.course.pk %}">{{en.group}}</a></h2>
					</div>
				{% empty %}
					<div class="profile_title">
						<h2> 
							{% trans "You don't have enrolled courses" %}
						</h2>
					</div>
				{% endfor%}
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script>
		var input = document.querySelector('#id_organization'),
		tagify = new Tagify(input, {whitelist:[]}),
		controller; // for aborting the call
		// listen to any keystrokes which modify tagify's input
		tagify.on('input', onInput)
		function onInput( e ){
			var value = e.detail.value;
			tagify.settings.whitelist.length = 0; // reset the whitelist

			// https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort
			controller && controller.abort();
			controller = new AbortController();

			// show loading animation and hide the suggestions dropdown
			tagify.loading(true).dropdown.hide.call(tagify)

			fetch("/gtapis/student/?q="+e.detail.value, {signal:controller.signal})
				.then(RES => RES.json())
				.then(function(whitelist){
				// update inwhitelist Array in-place
				var whitelst = []
				for(rows of whitelist.results){
					tags = JSON.parse(rows.text)
					for(tag of tags){
						whitelst.push(tag.value)
					}
				}
				whitelst = [...new Set(whitelst)];
				tagify.settings.whitelist.splice(0, whitelist.total_count, ...whitelst)
				tagify.loading(false).dropdown.show.call(tagify, value); // render the suggestions dropdown
			})
		}
		$(document).ready(function(){
			$("#id_organization").next().remove();
			$("#id_organization").next().append("<br/>");
		});

	</script>
{% endblock %}