     <!-- ======= Frequently Asked Questions Section ======= -->

  <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Preguntas Frecuentes</h2>
          <p>Aquí respondemos algunas de las dudas más comunes sobre el sitio de inscripciones de la UPo.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">¿Cuál es la diferencia entre la plataforma del Campus y la plataforma de Registro?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Si te fijas, las direcciones en el navegador son distintas. https://campus.universidadpopular.red es donde se comparte el conocimiento, cómo si fueran los salones de la escuela. Y https://registro.universidadpopular.red/ es como el módulo de administración, donde se hacen las pre-inscripciones y donde puedes ver los cursos que vienen.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">¿Puedo tener un user y contraseña distinto en el Campus y en Registro?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Sí. Cómo son plataformas distintas, puede ser que tengas contraseñas y nombre de usuarie diferente en cada plataforma. Te recomendamos que lo apuntes y que recuerdes cuál tienes que usar en cada plataforma.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">¿Si tengo más dudas o preguntas sobre la plataforma de Registro a quién puedo acudir?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  Si tienes problemas para pre-inscribirte a un curso o olvidaste tu contraseña y/o usuarie (o cualquier otra consulta sobre la plataforma) puedes escribir a secretaria(arroba)universidadpopular.red o mandar un mensaje por WhatsApp/Telegram/Signal al +52 967 171 82 62, de lunes a viernes de 2pm a 6pm (Hora Centroamérica UTC -6).
                </p>
              </div>
            </li>

         </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
