{% extends 'gentelella/base.html' %}
{% load static %}
{% load gtsettings %}
{% block pre_head %}
    {% define_true "use_datatables" as use_datatables %}
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class='col-md-8 col-md-offset-2 col-xs-12'>
              <div class="x_panel">
                <div class="x_title">
                    {% if service_edit == 1 %}
                        <h1 class="text-center">Editar servicio</h1>
                    {% else %}
                        <h1 class="text-center">Nuevo servicio</h1>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_horizontal}}
                        <br>
                        <div class="form-group" style="text-align:center">
                            {% if service_edit == 1 %}
                                <button class="btn btn-success" type="submit">Guardar</button>
                            {% else %}
                                <button class="btn btn-success" type="submit">Agregar</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12 col-xs-12'>
            <h1 class="text-center"> Listado de servicios</h1>
            <div class="x_panel">
                <div class="x_content" style="display: block;">
                    <div class="dashboard-widget-content">
                        <table id="servicestable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for service in services_list %}
                            <tr>
                                <td>{{ service }} </td>
                                <td>
                                    <a title="Editar servicio" class="btn btn-sm" href="{% url 'edit_service' pk=service.pk %}"><i class="fa fa-edit fa-2x"></i> </a>
                                    <a title="Eliminar servicio" class="btn btn-sm" data-url="{% url 'delete_service' pk=service.pk %}" onclick="delete_service(this)"><i class="fa fa-trash fa-2x"></i></a>
                                    {% if perms.admin.view_logentry %}
                                    <a title="Ver historial" href="{% url 'logentry_object' app='membership_core' model='servicetype' pk=service.pk %}" class="edit-link"><i class="fa fa-history green fa-2x"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="modaldeleteservice" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">¿Es posible que este servicio este asociado a otros elementos, esta segura que desea eliminar este servicio?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" id="deleteservice">Eliminar</a>
            </div>
        </div>
    </div>
    </div>

</div>
{% endblock content %}
{% block js %}
<script>

function delete_service(element){
    $("#deleteservice").attr("href", $(element).data('url'));
    $("#modaldeleteservice").modal();
}

(function(){
    $("#servicestable").DataTable();

    var edit = {{service_edit}};

    $(window).on('load', function() {

        if(edit == 1){
             $("#id_name").css('border-color', 'red');
        }
    });

})(jQuery);
</script>
{% endblock %}