{% load i18n %}
{% load gentelellamenu gtsettings static %}

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 style="color: #444444;">UPo</h3>
            <p>
              San José, Costa Rica<br>
              La Esperanza, Honduras<br>
              Chiapas, México<br>
              Montevideo, Uruguay<br><br>
              <a href="https://matricula.universidadpopular.red/terminos-de-uso/">Términos de uso</a><br>
              <a href="https://matricula.universidadpopular.red/politica-de-privacidad/">Política de privacidad</a><br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Información</h4>
            <ul>



               <li><i class="bx bx-chevron-right"></i> <a href="https://universidadpopular.red/">Universidad Popular</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://campus.universidadpopular.red/">Campus Virtual</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://universidadpopular.red/#faq">Pregunas Frecuentes</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://matricula.universidadpopular.red/contacto/">Contacto</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://registro.universidadpopular.red/">Matrículas</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Organizaciones</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://arpas.org.sv">ARPAS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.articaonline.com/">Ártica</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://codigosur.org">CódigoSur</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://copinh.org">COPINH</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://fger.org/">FGER</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Universidad Popular</h4>
            <p>Buscamos construir colaborativamente metodologías y trayectorias educativas desde las perspectivas de la educación popular, la educación abierta, los feminismos y la cultura y software libre. </p>

          </div>

        </div>
      </div>
    </div>
<div class="clearfix"></div>
<div class="container d-md-flex py-4 footer-bottom">

  <div class="mr-md-auto text-center text-md-left">
    <div class="copyright">
      &copy; 2020/{% now "Y" %}<strong> <span>Universidad Popular</span></strong>. Contenidos bajo <a href="https://creativecommons.org/licenses/by/4.0/deed.es_ES">Licencia Creative Commons</a>.
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
      Hecho en Sottware Libre.</br>
      Tecnología: <a href="https://codigosur.org">CódigoSur</a>.
    </div>
  </div>
</div>
