<div class="container">
    <div class="row">
        <div class='col-md-12' >
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if 'safe' in message.tags %} {{ message|safe }}{% else %}{{ message }}{% endif %}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        </div>
    </div>
</div>