{% load  gentelellamenu i18n static utils %}
{% block top_navigation %}

<nav class="navbar navbar-expand-lg nav_menu">
  {% load i18n gentelellamenu gtsettings urlname_tags %}
  <div class="container-fluid">
    <div class="nav toggle ">
      <a id="menu_toggle" style="cursor:pointer;"><i class="fa fa-bars"></i></a>
    </div>
	<img src="{% static 'img/academica.png' %}" style="widht:60px; height: 60px;" />
    <div class="container-fluid">

      <div class="collapse navbar-collapse float-end" id="navbarNavDropdown">
        <ul id="items-top-navbar" class="nav navbar-nav d-flex me-4 flex-row-reverse">
			       {% if not request.user.is_authenticated %}
				<li><a href="{% reverse_register %}" id="get-started-btn" class="scrollto">Registrarme</a><li>
			    <li><a href="{% reverse_login %}" id="login" >Iniciar sesión</a><li>
			{% else %}
				<li class="nav-item dropdown" >

					<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
						<a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
					</div>
				</li>
            {% endif %}

          {% top_menu %}
          {% if perms.djgentelella.can_manage_permissions %}
          {% get_urlname_action as urlnameactions %}
          {% validate_context urlnameactions as context %}
          {% if urlnameactions and context %}
          <li><a id="btn_perms" title="{% trans 'Add Permission' %}" data-bs-toggle="modal"
                 data-bs-target="#permission_modal" data-parameter="{% get_page_name urlnameactions %}"
                 data-urlname="{{urlnameactions}}"><i class="fa fa-key" aria-hidden="true"></i></a></li>
          {% endif %}
          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</nav>



{% endblock top_navigation %}