{% load  gentelellamenu i18n  utils %}
{% block top_navigation %}	
	<div class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_authenticated %}
				<li><a href="{% reverse_register %}" id="enroll" >Registrarme</a><li>
			    <li><a href="{% reverse_login %}" id="login" >Iniciar sesión</a><li>
			{% else %}
				<li class="nav-item dropdown" style="padding-left: 15px;">
					<a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
						<span style="font-size:1.5em"><i class="fa fa-user"></i></span> {{request.user.first_name}} {{request.user.last_name}}
					</a>
					<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
						<a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
					</div>
				</li>
            {% endif %}
			{% top_menu  %}
		</ul>
	</div>
{% endblock top_navigation %}