{% load static menu i18n %}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{% url 'home' %}"  class="site_title" style="font-size: 17px;">
            {% if "bills" in request.get_full_path or "enrrolment" in request.get_full_path %}
                UPO
            {% else %}
                Membresías de Código Sur
            {% endif %}
        </a>
    </div>

    <div class="clearfix"></div>

    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                {% if perms.membership_manager.view_organization %}
                    <li>
                        <a>
                            <i class="fa fa-users"></i>Contactos
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{% url 'contacts' %}">Lista de contactos</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                {% endif %}
                {% if perms.membership_manager.view_organization %}
                    <li>
                        <a>
                            <i class="fa fa-building"></i>
                            Organizaciones
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{% url 'organizations' %}">Lista de organizaciones</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if perms.membership_manager.view_membership or perms.membership_core.view_servicetype or perms.membership_core.view_membershiptemplate or perms.membership_manager.view_activityreport%}
                    <li>
                        <a>
                            <i class="fa fa-list-alt"></i>
                            Membresías
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            {% if perms.membership_manager.view_membership %}
                            <li>
                                <a href="{% url 'memberships' %}">Lista de membresías</a>
                            </li>
                            {% endif %}
                            {% if perms.membership_core.view_servicetype %}
                            <li>
                                <a href="{% url 'services_list' %}">Servicios</a>
                            </li>
                            {% endif %}
                            {% if perms.membership_core.view_membershiptemplate %}
                            <li>
                                <a href="{% url 'templates' %}">Lista de plantillas</a>
                            </li>
                            {% endif %}
                            {% if perms.membership_manager.view_activityreport %}
                            <li>
                                <a href="{% url 'activityreport-list' %}">Reporte de atención</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if perms.membership_manager.view_invoice %}
                <li>
                    <a>
                        <i class="fa fa-credit-card"></i>
                        Facturas
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="{% url 'invoice-list' %}">Lista de facturas</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if perms.async_notifications.view_newsletter %}

                <li>
                    <a>
                        <i class="fa fa-bullhorn"></i>
                        Boletines
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="{% url 'news_letter_list' %}">Lista de boletines</a>
                        </li>
                    </ul>
                </li>

                {% endif %}
                {% if perms.membership_manager.add_report or perms.membership_manager.view_report%}
                <li>
                    <a>
                        <i class="fa fa-list"></i>
                        Reportes
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        {% if perms.membership_manager.add_report %}
                        <li>
                            <a href="{% url 'reports' %}">Generar reporte</a>
                        </li>
                        {% endif %}
                        {% if perms.membership_manager.view_report %}
                        <li>
                            <a href="{% url 'report_list' %}">Reportes</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {%if perms.auth.view_user or perms.auth.view_group or perms.admin.view_logentry %}
                <li>
                    <a>
                        <i class="fa fa-book"></i>
                        Administración
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        {% if perms.auth.view_user %}
                        <li>
                            <a href="{% url 'user_list' %}">Lista de usuarias</a>
                        </li>
                        {% endif %}
                        {% if perms.auth.view_group %}
                        <li>
                            <a href="{% url 'groups_list' %}">Grupos de usuarias</a>
                        </li>
                        {% endif %}
                        {% if perms.admin.view_logentry %}
                        <li>
                            <a href="{% url 'logentry_filter' %}">Bitácora</a>
                        </li>
                        {% endif %}
                        {% if perms.membership_telbot_manager.view_telegramnotificationtemplate %}
                        <li>
                            <a href="{% url 'telegram_message_list' %}">Mensajes de Telegram</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
             <ul class="nav side-menu">
                <li>
                    <a>
                        <i class="fa fa-list-ul"></i>
                        {% trans 'Enrollment' %}
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        {% show_menu request.user.is_authenticated%}
                    </ul>
                </li>
            </ul>
            {% if perms.matricula.view_category or perms.matricula.view_course or perms.djgentelella.view_menuitem or  perms.matricula.view_group or perms.matricula.view_enroll or perms.matricula.view_period or perms.matricula.view_page or perms.matricula.view_student %}
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-university"></i>
                            Académica
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            {% if perms.matricula.view_category %}
                                <li><a href="{% url 'categories' %}">Categorías</a></li>
                            {% endif %}
                            {% if perms.matricula.view_course %}
                                <li><a href="{% url 'enrrolment_courses' %}">Cursos</a></li>
                            {% endif %}
                            {% if perms.matricula.view_group %}
                                <li><a href="{% url 'groups_enroll' %}">Grupos</a></li>
                            {% endif %}
                            {% if perms.djgentelella.view_menuitem %}
                                <li><a href="{% url 'menuitems' %}">Elementos del menú</a></li>
                            {% endif %}
                            {% if perms.matricula.view_enroll %}
                                <li><a href="{% url 'enrolls' %}">Matrículas</a></li>
                            {% endif %}
                            {% if perms.matricula.view_period %}
                                <li><a href="{% url 'periods' %}">Periodos</a></li>
                            {% endif %}
                            {% if perms.matricula.view_page %}
                                <li><a href="{% url 'pages' %}">Páginas</a></li>
                            {% endif %}
                            {% if perms.matricula.view_student %}
                                <li><a href="{% url 'students' %}">Estudiantes</a></li>
                            {% endif %}

                            {% if perms.matricula.view_professor %}
                                <li><a href="{% url 'professors_list' %}">{% trans "Professor" %}</a></li>
                            {% endif %}
                            {% if perms.matricula.view_coupon %}
                                <li><a href="{% url 'coupons_list' %}">Cupones</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
            {% if perms.bills.view_bill or perms.membership_core.view_systemcurrency %}
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-money"></i>
                            Pagos
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            {% if perms.membership_core.view_systemcurrency %}
                                <li><a href="{% url 'colonexchange' %}">Moneda de intercambio</a></li>
                            {% endif %}
                            {% if perms.bills.view_bill %}
                                <li><a href="{% url 'listbills' %}">Lista de pagos</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="sidebar-footer hidden-print hidden-small">
        {% if request.user.is_authenticated %}
            {% if request.user.student %}
                <a title="" href="{% url 'profile' %}">
                    <span class="fa fa-user" aria-hidden="true"></span>
                </a>
            {% endif%}
                <a id="fsb_50" title="" href="{% url 'logout' %}">
                    <span class="fa fa-power-off" aria-hidden="true"></span>
                </a>
        {% else %}
            <a id="fsb_50" title="">
                <span class="fa" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
</div>