
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{% url 'home' %}"  class="site_title" style="font-size: 17px;">Membresías de Código Sur</a>
    </div>

    <div class="clearfix"></div>

    <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                {% if perms.membership_manager.view_organization %}
                    <li>
                        <a>
                            <i class="fa fa-users"></i>Contactos
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{% url 'contacts' %}">Lista de contactos</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                {% endif %}
                {% if perms.membership_manager.view_organization %}
                    <li>
                        <a>
                            <i class="fa fa-building"></i>
                            Organizaciones
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{% url 'organizations' %}">Lista de organizaciones</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if perms.membership_manager.view_membership %}
                    <li>
                        <a>
                            <i class="fa fa-list-alt"></i>
                            Membresías
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="{% url 'memberships' %}">Lista de membresías</a>
                            </li>
                            {% if perms.membership_core.view_servicetype %}
                            <li>
                                <a href="{% url 'services_list' %}">Servicios</a>
                            </li>
                            {% endif %}

                            {% if perms.membership_manager.view_activityreport %}
                            <li>
                                <a href="{% url 'activityreport-list' %}">Reporte de atención</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if perms.membership_manager.view_invoice %}
                <li>
                    <a>
                        <i class="fa fa-credit-card"></i>
                        Facturas
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="{% url 'invoice-list' %}">Lista de facturas</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if perms.async_notifications.view_newsletter %}

                <li>
                    <a>
                        <i class="fa fa-bullhorn"></i>
                        Boletines
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="{% url 'news_letter_list' %}">Lista de boletines</a>
                        </li>
                    </ul>
                </li>

                {% endif %}

                <li>
                    <a>
                        <i class="fa fa-list"></i>
                        Reportes
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        {% if perms.membership_manager.add_report %}
                        <li>
                            <a href="{% url 'reports' %}">Generar reporte</a>
                        </li>
                        {% endif %}
                        {% if perms.membership_manager.view_report %}
                        <li>
                            <a href="{% url 'report_list' %}">Reportes</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                <li>
                    <a>
                        <i class="fa fa-book"></i>
                        Administración
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        {% if perms.auth.view_user %}
                        <li>
                            <a href="{% url 'user_list' %}">Lista de usuarias</a>
                        </li>
                        {% endif %}
                        {% if perms.auth.view_group %}
                        <li>
                            <a href="{% url 'groups_list' %}">Grupos</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="sidebar-footer hidden-print hidden-small">
        {% if request.user.is_authenticated %}
            <a title="" href="#">
                <span class="fa fa-user" aria-hidden="true"></span>
            </a>
            <a id="fsb_50" title="" href="{% url 'logout' %}">
                <span class="fa fa-power-off" aria-hidden="true"></span>
            </a>
        {% endif %}
        <a title="" href="#">
            <span class="fa fa-expand" aria-hidden="true"></span>
        </a>
        <a title="" href="#">
            <span class="fa fa-eye-slash" aria-hidden="true"></span>
        </a>
    </div>
</div>