{% block top_navigation %}
	{% load  gentelellamenu %}
	<div class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% if "bills" in request.get_full_path or "enrrolment" in request.get_full_path %}
				{% top_menu  %}
			{% endif %}
            {% if not request.user.is_authenticated %}
			    <li><a href="{% url "login" %}">Iniciar sesión</a><li>
				<li><a href="{% url "create_user_academy" %}">Registrarme</a><li>
            {% endif %}
		</ul>
	</div>
{% endblock top_navigation %}