{% block top_navigation %}
	{% load  gentelellamenu %}
	<div class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_authenticated %}
			    <li><a href="{% url "login" %}">Iniciar sesión</a><li>
				<li><a href="{% url "create_user_academy" %}">Registrarme</a><li>
			{% else %}
				{% if "bills" in request.get_full_path or "enrrolment" in request.get_full_path %}
					<li class="nav-item dropdown" style="padding-left: 15px;">
						<a href="#">
						<span style="font-size:1.5em"><i class="fa fa-user"></i></span> {{request.user.first_name}} {{request.user.last_name}}
						</a>
					</li>
				{% endif %}
            {% endif %}
			{% if "bills" in request.get_full_path or "enrrolment" in request.get_full_path %}
				{% top_menu  %}
			{% endif %}
		</ul>
	</div>
{% endblock top_navigation %}