<div>
<select name="template" id="template_{{contact.pk}}">
    {% for obj in templates %}
    <option value="{{ obj.pk }}">{{ obj.name }}</option>
    {% endfor %}
</select>

<button type="button" class="grp-button " id="btn_{{contact.pk}}" >
    +
</button>
</div>

<script>

        jQuery("#btn_{{contact.pk}}").on('click', function(){

            jQuery.post("{% url 'create_membership_contact_by_template' %}",
            { csrfmiddlewaretoken: jQuery("[name=csrfmiddlewaretoken]").val(),
              contact: {{contact.pk}},
              template:  jQuery("#template_{{contact.pk}}").val()
            }  );

        });

</script>